  <script language="JavaScript" src="{{APP_URL}}include_js/valid_fun/fun.js"></script>
  <script language="JavaScript" src="{{APP_URL}}include_js/valid_fun/valid_value.js"></script>

  <SCRIPT language="javascript1.2">
	alert_isnull_mesg           = "{{alert_isnull_mesg}}";
	alert_isalpha_mesg          = "{{alert_isalpha_mesg}}";
	alert_isdate1_mesg          = "{{alert_isdate1_mesg}}";
	alert_isdate2_mesg          = "{{alert_isdate2_mesg}}";
	alert_isdate3_mesg          = "{{alert_isdate3_mesg}}";
	alert_isemail_mesg          = "{{alert_isemail_mesg}}";
	alert_isinteger_mesg        = "{{alert_isinteger_mesg}}";
	alert_isnumber1_mesg        = "{{alert_isnumber1_mesg}}";
	alert_isnumber_pozitiv_mesg = "{{alert_isnumber_pozitiv_mesg}}";
	alert_confirm_del_mesg      = "{{alert_confirm_del_mesg}}";
  </SCRIPT>
