<div class="panel panel-default" style="max-width: {{max_width}}px;">

	<If condition="'{{template_sel}}' == 'LIST'">
		<Include SRC="{{./}}form.html"/>

		<div class="panel-body pt-5">
			<Include SRC="{{./}}tab_data.html"/>
			<Include SRC="{{./}}nav.html"/>
			<Include SRC="{{./}}add_button.html"/>
			<Include SRC="{{./}}exp.html"/>
		</div>
	</If>

	<If condition="'{{template_sel}}' == 'DETAJE'">
		<Include SRC="{{./}}form.html"/>
	</If>

</div>

<Grid gridId="Grid_message_print">
	<Header>
		<script language="javascript1.2">
	</Header>
          	showToast("{{kodi}}", "{{mesg}}", {{time}});
	<Footer>
		</script>
	</Footer>
</Grid>

