
					
<If condition="'{{level_1}}'>0">
	<Grid gridId="GridAuthorNav_{{actualKey}}">
		<Header>
		<Include SRC="{{./}}default_header_property_template.html"/>
		<div class="row" data-equal-heights=".title-container, .abstract-container">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{has-img}}">
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
                        	
                   			<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-{{nodeClass}} text-{{nodeClass}}">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                            </If>
							<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
                                <h5 class="text-semibold title-container">
                                    <If condition="'{{show_nodeLabel}}' == 'yes'">
                                            <If condition="'{{makeLink_nodeLabel}}' == 'yes'">
                                                <a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
                                            </If>
                                            <If condition="'{{makeLink_nodeLabel}}' != 'yes'">
                                                {{label}}
                                            </If>
                                    </If>
                                    <If condition="'{{show_mainContentTitle}}' == 'yes'">
                                        <If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
                                            <a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
                                        </If>
                                        <If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
                                            {{ci_title}}
                                        </If>
                                    </If>
                                </h5>
                            </If>
				
							<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group abstract-container">
								  {{ci_description}}
							</p>
							</If>
							<If condition="'{{showLinkToDetails}}' == '1'">
								<p><a class="{{class_style}} btn bg-{{nodeClass}}" href="{{link}}">{{linkLabel}}</a></p>
							</If>
					</div>
				</div>
			</div> 				
		</Grid>
		<Footer>
		<script>
			modules.push('equal-heights');
		</script>
			</div>
		</Footer>
	</Grid>
	
	<Grid gridId="_GridAuthorNav_{{actualKey}}">
		<Header>
			<h1>SIBLIG LEVEL if Actual LEVEL empty</h1>
			<div class="row">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<IfEmpty>
				<p>This is Empty</p>
				<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
			</IfEmpty>
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{handle_editing_class}}" {{handle_editing_attr}}>
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-success text-success">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                            </If>
						<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
							<h5 class="text-semibold">
								<If condition="'{{show_nodeLabel}}' == 'yes'">
										<If condition="'{{makeLink_nodeLabel}}' == 'yes'">
											<a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
										</If>
										<If condition="'{{makeLink_nodeLabel}}' != 'yes'">
											{{label}}
										</If>
								</If>
								<If condition="'{{show_mainContentTitle}}' == 'yes'">
									<If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
										<a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
									</If>
									<If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
										{{ci_title}}
									</If>
								</If>
							</h5>
                         </If>
						<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group">
								  {{ci_description}}
							</p>
						</If>
						<If condition="'{{showLinkToDetails}}' == '1'">
							<p><a class="{{class_style}} btn bg-{{nodeClass}}" href="{{link}}">{{linkLabel}}</a></p>
						</If>
					</div>
				</div>
			</div>
		</Grid>
		<Footer>
			</div>
		</Footer>
	</Grid>
	
	<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_0_0_0">
		<Header>
			<h1>FIRST LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_0_0_0</h1>
			<div class="row">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<IfEmpty>
				<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
			</IfEmpty>
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{handle_editing_class}}" {{handle_editing_attr}}>
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
						<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-success text-success">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                        </If>
						<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
							<h5 class="text-semibold">
								<If condition="'{{show_nodeLabel}}' == 'yes'">
										<If condition="'{{makeLink_nodeLabel}}' == 'yes'">
											<a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
										</If>
										<If condition="'{{makeLink_nodeLabel}}' != 'yes'">
											{{label}}
										</If>
								</If>
								<If condition="'{{show_mainContentTitle}}' == 'yes'">
									<If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
										<a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
									</If>
									<If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
										{{ci_title}}
									</If>
								</If>
							</h5>
                        </If>
						<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group">
								  {{ci_description}}
							</p>
						</If>
						<If condition="'{{showLinkToDetails}}' == '1'">
							<p><a class="{{class_style}} btn bg-success-400" href="{{link}}">{{linkLabel}}</a></p>
						</If>
					</div>
				</div>
			</div>
		</Grid>
		<Footer>
			</div>
		</Footer>
	</Grid>
	
	<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_0_0">
		<Header>
			<h1>SECOND LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_0_0</h1>
			<div class="row">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<IfEmpty>
				<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
			</IfEmpty>
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{handle_editing_class}}" {{handle_editing_attr}}>
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-success text-success">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                        	</If>
						<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
							<h5 class="text-semibold">
								<If condition="'{{show_nodeLabel}}' == 'yes'">
										<If condition="'{{makeLink_nodeLabel}}' == 'yes'">
											<a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
										</If>
										<If condition="'{{makeLink_nodeLabel}}' != 'yes'">
											{{label}}
										</If>
								</If>
								<If condition="'{{show_mainContentTitle}}' == 'yes'">
									<If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
										<a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
									</If>
									<If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
										{{ci_title}}
									</If>
								</If>
							</h5>
                        </If>
						<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group">
								  {{ci_description}}
							</p>
						</If>
						<If condition="'{{showLinkToDetails}}' == '1'">
							<p><a class="{{class_style}} btn bg-success-400" href="{{link}}">{{linkLabel}}</a></p>
						</If>
					</div>
				</div>
			</div>
		</Grid>
		<Footer>
			</div>
		</Footer>
	</Grid>
	
	<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_{{level_3}}_0">
		<Header>
			<h1>THIRD LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_{{level_3}}_0</h1>
			<div class="row">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<IfEmpty>GridAuthorNavData_{{keyIden}} </IfEmpty>
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{handle_editing_class}}" {{handle_editing_attr}}>
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
						<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-success text-success">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                        </If>
		  				<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
							<h5 class="text-semibold">
								<If condition="'{{show_nodeLabel}}' == 'yes'">
										<If condition="'{{makeLink_nodeLabel}}' == 'yes'">
											<a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
										</If>
										<If condition="'{{makeLink_nodeLabel}}' != 'yes'">
											{{label}}
										</If>
								</If>
								<If condition="'{{show_mainContentTitle}}' == 'yes'">
									<If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
										<a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
									</If>
									<If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
										{{ci_title}}
									</If>
								</If>
							</h5>
                        </If>
						<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group">
								  {{ci_description}}
							</p>
						</If>
						<If condition="'{{showLinkToDetails}}' == '1'">
							<p><a class="{{class_style}} btn bg-success-400" href="{{link}}">{{linkLabel}}</a></p>
						</If>
					</div>
				</div>
			</div>
		</Grid>
		<Footer>
			</div>
		</Footer>
	</Grid>

	<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_3}}_{{level_4}}">
		<Header>
			<h1>FOURTH LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_3}}_{{level_4}}</h1>
			<div class="row">
		</Header>
		<Grid gridId="GridAuthorNavData_{{keyIden}}">
			<IfEmpty>
				<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
			</IfEmpty>
			<div class="col-md-4">
				<div class="panel">
					<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
					<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
					<Var name="has-img">('{{show_mainContentThumbnail}}'=='yes' && '{{image_src}}' != '' ? 'p-2' : 'p-2')</Var>
					<div class="panel-body text-center {{handle_editing_class}}" {{handle_editing_attr}}>
							 <If condition="'{{show_mainContentThumbnail}}'=='yes' && '{{image_id}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id}}">
								<If condition="'{{makeLink_mainContentThumbnail}}'=='yes'">
									<a class="{{class_style}}" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_mainContentThumbnail}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
							<If condition="'{{show_nodeImage}}'=='yes' && '{{image_id_node}}' >0 ">
								<Grid gridId="DocCachedInfo_{{image_id_node}}">
								<If condition="'{{makeLink_nodeImage}}'=='yes'">
									<a class="{{class_style}} bold" href="{{link}}"><img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}"></a>
								</If>
								<If condition="'{{makeLink_nodeImage}}'!='yes'">
									<img class="d-flex mr-2 img-fluid" src="{{link_url}}" alt="{{label}}">
								</If>
								</Grid>
                        	</If>
						<If condition="'{{show_nodeIcon}}' == 'yes'">
                               <div class="icon-object border-success text-success">
                                <i class="{{boostrap_ico}}" aria-hidden="true"></i>
								 </div>
                        </If>
		  				<If condition="'{{show_mainContentTitle}}' == 'yes' || '{{show_nodeLabel}}' == 'yes'">
							<h5 class="text-semibold">
								<If condition="'{{show_nodeLabel}}' == 'yes'">
										<If condition="'{{makeLink_nodeLabel}}' == 'yes'">
											<a class="{{class_style}} text-default" href="{{link}}">{{label}}</a>
										</If>
										<If condition="'{{makeLink_nodeLabel}}' != 'yes'">
											{{label}}
										</If>
								</If>
								<If condition="'{{show_mainContentTitle}}' == 'yes'">
									<If condition="'{{makeLink_mainContentTitle}}' == 'yes'">
										<a class="{{class_style}} text-default" href="{{link}}">{{ci_title}}</a>
									</If>
									<If condition="'{{makeLink_mainContentTitle}}' != 'yes'">
										{{ci_title}}
									</If>
								</If>
							</h5>
                        </If>
						<If condition="'{{show_mainContentAbstract}}'=='yes'">
							<p class="content-group">
								  {{ci_description}}
							</p>
						</If>
						<If condition="'{{showLinkToDetails}}' == '1'">
							<p><a class="{{class_style}} btn bg-success-400" href="{{link}}">{{linkLabel}}</a></p>
						</If>
					</div>
				</div>
			</div>
		</Grid>
		<Footer>
			</div>
		</Footer>
	</Grid>
</If>
		
