<If condition="'{{level_1}}'>0">
<Grid gridId="GridAuthorNav_{{actualKey}}">
<Header>
<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>
				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<div class="media list-item mb-20">


					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">

						<If condition="'{{nodeClassExists}}'=='yes'">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md
							learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
						</If>
					</div>
					</If>


					<If condition="'{{show_nodeImage}}'=='yes'">
					<Grid gridId="DocCachedInfo_{{nodeImageId}}">
					<div class="media-left">

						<If condition="'{{nodeClassExists}}'=='yes'">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md
							learning-item-icon-bg"><img width="80" class="card-img-top img-fluid" src="{{link_url}}" alt=""/></a>
						</If>
					</div>
					</Grid>
					</If>





					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>
<Footer>
	</div>
</div>
</Footer>
</Grid>



<Grid gridId="_GridAuthorNav_{{actualKey}}">
<Header>
<h1>SIBLIG LEVEL if Actual LEVEL empty</h1>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>
				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<IfEmpty>
					<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
				</IfEmpty>
				<div class="media list-item mb-20">
					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
					</div>
					</If>


					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>

<Footer>
	</div>
</div>
</Footer>
</Grid>

<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_0_0_0">
<Header>
<h1>FIRST LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_0_0_0</h1>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>



				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<IfEmpty>
					<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
				</IfEmpty>
				<div class="media list-item mb-20">


					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
					</div>
					</If>

					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{keyIden}}<br>
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>

<Footer>
	</div>
</div>
</Footer>
</Grid>



<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_0_0">
<Header>
<h1>SECOND LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_0_0</h1>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>
				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<IfEmpty>
					<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
				</IfEmpty>
				<div class="media list-item mb-20">
					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
					</div>
					</If>


					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{keyIden}}<br>
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>

<Footer>
	</div>
</div>
</Footer>
</Grid>



<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_{{level_3}}_0">
<Header>
<h1>THIRD LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_2}}_{{level_3}}_0</h1>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>
				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<IfEmpty>
					GridAuthorNavData_{{keyIden}}
				</IfEmpty>
				<div class="media list-item mb-20">
					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
					</div>
					</If>


					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{keyIden}}<br>
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>

<Footer>
	</div>
</div>
</Footer>
</Grid>


<Grid gridId="_GridAuthorNav_{{level_0}}_{{level_1}}_{{level_3}}_{{level_4}}">

<Header>
<h1>FOURTH LEVEL GridAuthorNav_{{level_0}}_{{level_1}}_{{level_3}}_{{level_4}}</h1>
<div class="content-group">
	<div class="media-list trainings-list mb-20">
</Header>
				<Grid gridId="GridAuthorNavData_{{keyIden}}">
				<IfEmpty>
					<div class="media list-item mb-20">GridAuthorNavData_{{keyIden}}</div>
				</IfEmpty>
				<div class="media list-item mb-20">
					<If condition="'{{show_nodeIcon}}'=='yes'">
					<div class="media-left">
						<a href="{{link}}" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class="{{boostrap_class}} icon-2x"></i></a>
					</div>
					</If>


					<div class="media-body">
						<div class="row">
							<div class="col-md-6">
								<h6 class="media-heading text-semibold learning-item-title">
									<a href="{{link}}" class="text-default">{{label}}</a>
								</h6>
								<If condition="'{{show_mainContentAbstract}}'=='yes'">
								<span class="display-block">
									  {{keyIden}}<br>
									  {{ci_description}}
								</span>
								</If>
							</div>
							<Grid gridId="GridAuthorNav_{{keyIden}}">
								<Header>
								<div class="col-md-6 hidden-xs">
									<div class="row">
								</Header>
								<Grid gridId="GridAuthorNavData_{{keyIden}}">
									<div class="col-sm-6">
										<a href="{{link}}" class="list-group-item learning-item-link">
											<i class="icon-arrow-right13"></i> {{label}}
										</a>
									</div>
								</Grid>
								<Footer>
									</div>
								</div>
								</Footer>
							</Grid>

						</div>
					</div>
				</div>
				</Grid>
<Separator>
		<hr>
</Separator>

<Footer>
	</div>
</div>
</Footer>
</Grid>



</If>