	<div class="text-center pb-10 pt-10">
		<ul class="pagination">

			<If condition="'{{global_cache_dynamic}}'=='Y'">
				<li>
					<a title="{{_previewsPage}}" href="{{hrefSearchResultNext}}?tid={{tid}}&ser={{objId}}&rpp={{previewsPage}}&msv={{msvSrc}}" class="previous">
						&larr;
					</a>
				</li>
				<NavTpl navID="gridDataSrc" blNoToDisplay="6" stepBack="5">
					<Header>
					</Header>
					<Var name="active_class">('{{selClass}}' != ''  ? 'active' : '')</Var>
					<If condition="'{{BlockNavNr}}'=='1'">
						<li class="pages-start {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'=='{{TotPage}}'">
						<li class="pages-end {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'>'1' && '{{BlockNavNr}}'<'{{TotPage}}'">
						<li class="{{active_class}}">
					</If>
					<a class="{{selClass}}" title="{{_Page}} {{BlockNavNr}}" href="{{hrefSearchResultNext}}?tid={{tid}}&ser={{objId}}&rpp={{BlockNavNr}}&msv={{msvSrc}}" >
						{{BlockNavNr}}
					</a>
					</li>
					<Footer>
					</Footer>
				</NavTpl>
				<li>
					<a title="{{_nextPage}}" href="{{hrefSearchResultNext}}?tid={{tid}}&ser={{objId}}&rpp={{nextPage}}&msv={{msvSrc}}" class="next">
						&rarr;
					</a>
				</li>
			</If>

			<If condition="'{{global_cache_dynamic}}'!='Y'">
				<li>
					<a title="{{_previewsPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{previewsPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="previous">
						&larr;
					</a>
				</li>
				<NavTpl navID="gridDataSrc" blNoToDisplay="6" stepBack="5">
					<Header>
					</Header>
					<Var name="active_class">('{{selClass}}' != ''  ? 'active' : '')</Var>
					<If condition="'{{BlockNavNr}}'=='1'">
						<li class="pages-start {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'=='{{TotPage}}'">
						<li class="pages-end {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'>'1' && '{{BlockNavNr}}'<'{{TotPage}}'">
						<li class="{{active_class}}">
					</If>
					<a class="{{selClass}}" title="{{_Page}} {{BlockNavNr}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{BlockNavNr}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')">
						{{BlockNavNr}}
					</a>
					</li>
					<Footer>
					</Footer>
				</NavTpl>
				<li>
					<a title="{{_nextPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{nextPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="next">
						&rarr;
					</a>
				</li>
			</If>
		</ul>
	</div>
