<If condition="'{{slogan_icon_show}}' == 'yes' || '{{slogan_icon_show}}' == 'image' || '{{slogan_description_show}}' == 'yes' || '{{slogan_title_exists}}' == 'yes' || '{{help_show}}' == 'yes'">
	<div class="block-header-prop">
		<h2 class="head-line mb-3">
			<If condition="'{{slogan_icon_show}}' == 'yes'">
				<i class="{{slogan_icon}}"></i>
			</If>
			<If condition="'{{slogan_icon_show}}' == 'image'">
				<img src="{{APP_URL}}show_image.php?file_id={{blockImage}}" class="img-circle img-xs" alt="">
			</If>
			<If condition="'{{slogan_title_exists}}' == 'yes'">
				{{slogan_title}}
			</If>
			<If condition="'{{help_show}}' == 'yes'">
			<small>
				<div class="float-right">
					<a href="javascript:void(0);" class="button-icon jarviswidget-edit-btn has-popover" title="{{help_title}}"
					data-placement="bottom" data-viewport="body" data-container="body">
					<i class="fa fa-question-circle "></i>
					<div class="popover-content-holder">
						{{help_description}}
					</div>
					</a>
				</div>
			</small>
			</If>
		</h2>
		<If condition="'{{slogan_description_show}}' == 'yes'">
			<div class="mb-3">{{slogan_description}}</div>
		</If>
	</div>
</If>






