 {{home_link}}
 <If condition="{{print_level1}} > 0">
    <span class="LocationModule_ndares">/</span>
    {{level1_link}}

    <If condition="{{print_level2}} > 0">
       <span class="LocationModule_ndares">/</span>
       {{level2_link}}

       <If condition="{{print_level3}} > 0">
          <span class="LocationModule_ndares">/</span>
          {{level3_link}}

          <If condition="{{print_level4}} > 0">
             <span class="LocationModule_ndares">/</span>
             {{level4_link}}
          </If>
       </If>
    </If>
 </If>
