<div id="breadcrumbs" class="mb-4">
	<ol class="breadcrumb pt-0 px-0">
		<li class="breadcrumb-item">
			<a href="javascript:GoTo('thisPage?event=none.ch_state(k={{level_0}},0,0,0,0)')">
				<i class="fa fa-home text-primary" aria-hidden="true"></i> {{home_mesg}}
			</a>
		</li>
		<If condition="{{print_level1}} > 0">
		<li class="breadcrumb-item">{{level1_link}}</li>

			<If condition="{{print_level2}} > 0">
			<li class="breadcrumb-item">{{level2_link}}</li>

				<If condition="{{print_level3}} > 0">
				<li class="breadcrumb-item">{{level3_link}}</li>

					<If condition="{{print_level4}} > 0">
					<li class="breadcrumb-item">{{level4_link}}</li>
					</If>
				</If>
			</If>
		</If>
	</ol>
</div>
