	<div>
		<ul class="nav nav-tabs navs-2">
            <li class="active">
	            <a data-toggle="tab" href="#tab-panel-notifications">
	                Notifications
	            </a>
            </li>
            <li>
	            <a data-toggle="tab" href="#tab-panel-news">
	                News
	            </a>
            </li>
		</ul>
		<div class="tab-content sidebar-container">
			<div id="tab-panel-notifications" class="tab-pane active">
				<Grid gridId="getUserNotificationTot_{{ses_userid}}">
				<IfEmpty>
					<div class="sidebar-title">
						<h3> <i class="fa fa-bell-o"></i> Notifications</h3>
						<small>No notifications.</small>
					</div>
				</IfEmpty>

					<div class="sidebar-title">
						<h3> <i class="fa fa-bell-o"></i> Notifications</h3>
						<small>You have {{new}} new notifications. </small>

						<!--
							{{totals}}:numri total
						-->

					</div>
					<div>
						<ul class="list-group elements-list">
							<Grid gridId="getUserNotification_{{ses_userid}}">
								<li class="list-group-item has-popover cursor-pointer" data-id="{{id_alert}}" data-placement="left" data-viewport="body" data-toggle="popover" data-trigger="click" data-container="body">
									<a href="javascript:void(0);">
										<strong class="block elipsis">{{subjekti}}</strong>
										<span class="text-muted"> {{record_timestamp}}</span>
									</a>
									<div class="popover-content-holder">
										<h4>{{subjekti}}</h4>
										<small class="text-muted"> {{record_timestamp}}</small>
										<hr class="simple">
										{{full_content}}
										<If condition="'{{enable_action_link}}'=='y'">
											<a href="javascript:void(0);" class="btn btn-xs btn-brand btn-outline">Action link</a>
										</If>
									</div>
								</li>
							</Grid>
						</ul>
					</div>
				  </Grid>

			</div>
			<div id="tab-panel-news" class="tab-pane">
                <div class="sidebar-title">
                    <h3> <i class="fa fa-newspaper-o"></i> Latest News</h3>
                    <small><i class="fa fa-tim"></i> You have 2 new items.</small>
                </div>
		        <div>
		        	<ul class="list-group elements-list">
		        		<li class="list-group-item">
		        			<a href="javascript:void(0);" class="has-popover" data-placement="left" data-viewport="body" data-toggle="popover" data-trigger="click" data-container="body">
								<small>Module 3 / Lecture 4</small>
		        				<strong class="block elipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
		        				<span class="text-muted"> 16.02.2015</span>
		        				<div class="popover-content-holder">
		        					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
		        					<small class="text-muted"> 16.02.2015</small>
		        					<hr class="simple">
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, laudantium, nulla perferendis debitis cumque similique. Eaque fugiat illum dolorem iusto, minima quidem quis praesentium repellendus, error, deserunt magnam beatae ea.</p>
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quos quaerat necessitatibus ipsa repellendus, recusandae sequi illo vero vel laborum. Omnis iusto, quidem recusandae fuga! Illum voluptatem mollitia architecto enim.</p>
		        					<hr class="simple">
		        					<p class="m-b-non small bold">
		        						<small>Published in:</small><br>
		        						Module 3/Clinical presentation and diagnostic workup.  Classification of degenerative lumbar Spondylosis
		        					</p>
		        				</div>
		        			</a>
		        		</li>
		        		<li class="list-group-item">
		        			<a href="javascript:void(0);" class="has-popover" data-placement="left" data-viewport="body" data-toggle="popover" data-trigger="click" data-container="body">
								<small>Module 3 / Lecture 4</small>
		        				<strong class="block elipsis">Ea quasi iusto placeat porro, nulla, magnam laboriosam autem quaerat!</strong>
		        				<span class="text-muted"> 16.02.2015</span>
		        				<div class="popover-content-holder">
		        					<h4>Ea quasi iusto placeat porro, nulla, magnam laboriosam autem quaerat!</h4>
		        					<small class="text-muted"> 16.02.2015</small>
		        					<hr class="simple">
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse explicabo modi pariatur nemo earum dignissimos maiores id recusandae non necessitatibus repellat veritatis, saepe ullam fugit, voluptatum totam. Cum, accusamus!</p>
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis perspiciatis possimus voluptatum saepe cum, nulla ipsum autem officia provident doloribus facilis labore. Earum illo nam perferendis quidem, dolorem reiciendis.</p>
		        					<hr class="simple">
		        					<p class="m-b-non small bold">
		        						<small>Published in:</small><br>
		        						Module 3/Clinical presentation and diagnostic workup.  Classification of degenerative lumbar Spondylosis
		        					</p>
		        				</div>
		        			</a>
		        		</li>
		        		<li class="list-group-item">
		        			<a href="javascript:void(0);" class="has-popover" data-placement="left" data-viewport="body" data-toggle="popover" data-trigger="click" data-container="body">
								<small>Module 3 / Lecture 4</small>
		        				<strong class="block elipsis"> Laboriosam debitis quasi illo natus quidem quaerat quisquam consequatur dignissimos ea quae.</strong>
		        				<span class="text-muted"> 16.02.2015</span>
		        				<div class="popover-content-holder">
		        					<h4> Laboriosam debitis quasi illo natus quidem quaerat quisquam consequatur dignissimos ea quae.</h4>
		        					<small class="text-muted"> 16.02.2015</small>
		        					<hr class="simple">
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo provident, voluptatibus. Aspernatur fugit quos placeat commodi inventore porro quas at vitae! Laboriosam quo perspiciatis repellat quia id doloremque necessitatibus ea?</p>
		        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dicta quaerat dolor fugiat recusandae, culpa mollitia. Vero rem odio tempore, cupiditate repellendus, adipisci facere vitae ea vel, alias corporis reprehenderit.</p>
		        					<hr class="simple">
		        					<p class="m-b-non small bold">
		        						<small>Published in:</small><br>
		        						Module 3/Clinical presentation and diagnostic workup.  Classification of degenerative lumbar Spondylosis
		        					</p>
		        				</div>
		        			</a>
		        		</li>
		        	</ul>
		        </div>
			</div>
		</div>
	</div>