<Grid gridId="notif_{{idstemp}}">
<div id="rfrNotListWrp_{{idstemp}}" class="full-height ajax-target" data-ajax-loader="true">
	<div id="rfrNotListInr_{{idstemp}}" class="sidebar-container">
		<div class="sidebar-close"><a class="sidebar-close-btn" href="javascript:void(0);"><i class="fa fa-times"></i></a></div>
		<div class="sidebar-title">
			<h3>
			<If condition="'{{slogan_icon_show}}' == 'yes'">
			<i class="fa {{slogan_icon}} fa-fw"></i>
			</If>
			{{slogan_title}}</h3>
			<small>
				<If condition="'{{nr_total}}'=='0'">
				{{notification_empty}}
				</If>
				<If condition="'{{nr_total}}'>'0'">
					<If condition="'{{nr_new}}'=='0'">
					{{badge_text_empty}}
					</If>
					<If condition="'{{nr_new}}'=='1'">
					{{badge_text_one}}
					</If>
					<If condition="'{{nr_new}}'>'1'">
					{{badge_text_multi}}
					</If>
				</If>
			</small>
		</div>
		<div class="sidebar-content no-padding overflow-scroll-y">
				<div class="list-group elements-list">
					<Grid gridId="getUserNotification_{{ses_userid}}">

						<Var name="mesage_read_class">('{{mesage_read}}' == 'y' ? '' : 'list-group-item-warning')</Var>

						<a class="list-group-item cursor-pointer padding-h-15 padding-top-10 {{mesage_read_class}}"
							data-bs-modal="true"
							data-modal-ajax="true"
							data-url="&apprcss=notifications&action=viewItem&itemId={{id_alert}}#alertInfo"
						    data-modal-style="compact"
						    data-title="{{modal_title_details}}"
						    <If condition="'{{mesage_read}}' != 'y'">
						    data-trigger-event-after="rfrBadge"
						    </If>
						>
							<strong class="block elipsis">{{subjekti}}</strong>
							<span class="text-muted"> {{record_timestamp}}</span>
						</a>
						<div class="text-right" style="position: relative;">
							<button type="button" class="btn btn-xs btn-default" title="{{delete_item}}" style="position: absolute; margin-top: -25px; right: 5px;"
								data-ajax="true"
								data-url="&apprcss=notifications&action=delete&itemId={{id_alert}}"
								data-trigger-event-after="rfrBadge"
								data-notify-confirm="{{delete_notification_confirm}}"
								>
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</Grid>
				</div>
		</div>

		<a style="display: none;"
			href="javascript:void(0)"
			data-ajax="true"
			data-url="&apprcss=notifications&action=refreshNotList&idstemp={{idstemp}}#rfrNotListInr_{{idstemp}}"
			data-event-handler="rfrBadge"
			data-target="#rfrNotListWrp_{{idstemp}}"
		></a>
	</div>
</div>
</Grid>


