<div class="panel-group panel-group-control panel-group-control-right">
	<Include SRC="{{./}}default_header_property_template.html"/>
	<If condition="'{{simpleAdv_enabled}}' == 'no'">
		<Include SRC="{{./}}partials/simpleFilterFrom.html"/>
	</If>
	<If condition="'{{simpleAdv_enabled}}' == 'yes'">
		<Include SRC="{{./}}partials/advanceFilterFrom.html"/>
	</If>

	<Include SRC="{{./}}partials/header_pagination.html"/>
	<Grid gridId="firstGroupingGrid">
		<IfEmpty>
			<Grid gridId="gridDataSrc">
				<IfEmpty>
        			<p class="text-muted text-size-small">FAQ empty</p>
				</IfEmpty>
				<Header>
				</Header>
					<div class="panel panel-white">
						<Include SRC="{{./}}partials/accordion_wraper.html"/>
						<Separator>
						</Separator>
					</div>
				<Footer>
				</Footer>
			</Grid>
		</IfEmpty>

			<If condition="'{{existSubGroup}}'=='no'">
				<div class="text-size-small text-uppercase text-semibold text-muted mb-10 mt-20">{{labelGroup}}</div>
				<Grid gridId="firstLevelGrid_CIINSIDE_key_{{keyGroup}}">
				<Header>
				</Header>
					<div class="panel panel-white">
						<Include SRC="{{./}}partials/accordion_wraper.html"/>
						<Separator>
						</Separator>
					</div>
				<Footer>
				</Footer>
				</Grid>
			</If>
			<If condition="'{{existSubGroup}}'=='yes'">
				<Grid gridId="secondLevelGrid_{{keyGroup}}">
					<div class="text-size-small text-uppercase text-semibold text-muted mb-10 mt-20">{{labelGroup}}</div>
					<Grid gridId="{{keySubGroup}}">
					<Header>
					</Header>
						<div class="panel panel-white">
							<Include SRC="{{./}}partials/accordion_wraper.html"/>
							<Separator>
							</Separator>
						</div>
					<Footer>
					</Footer>
				</Grid>
				</Grid>
			</If>
	</Grid>
</div>
	<If condition="'{{block_link_show}}' == 'yes'">
		<div class="block-btn">
			<button type="button" class="text-bold btn border-slate text-slate-800 btn-flat" style="border: none">
				{{block_link_label}}
				<i class="icon-arrow-right5" aria-hidden="true"></i>
			</button>
		</div>
	</If>
	<Include SRC="{{./}}partials/footer_pagination.html"/>