<div class="blockquote-template-wrap blockquote-list-template">	
<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
<Grid gridId="gridDataSrc">
<IfEmpty>
<Include SRC="{{./}}partials/list_empty_message_template.html"/>
</IfEmpty>
<Header>
<div class="row">
</Header>
<div class="col-lg-4">
	<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
	<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
	<blockquote class="blockquote {{enable_edit_class}}" {{enable_edit_attr}}>
	<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
		{{abstractToDisplay}}
	</If>
	<If condition="'{{DC_sourceauthor_display}}' == 'yes' && '{{dp_author}}'=='yes'">
		<footer>{{AuthorToDisplay}}</footer>
	</If>
	</blockquote>
</div>
<Footer>
</div>
</Footer>
</Grid>
</div>