<Grid gridId="gridDataSrc">
	<Var name="target_val">('{{hrefToDocTargetOther}}' == '_blank' ? '_blank' : '_self')</Var>
	<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
	<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
	<article id="{{CID}}" class="csc-default frame_40">
		<div class="container">
			<div class="col-xs-16 col-lg-14 col-lg-offset-1 {{handle_editing_class}}" {{handle_editing_attr}}>
				<If condition="'{{CurrentRecNr}}'=='1'">
				<div class="csc-header csc-header-n2">
				</If>
				<If condition="'{{CurrentRecNr}}'!='1'">
				<div class="csc-header csc-header-n3" style="border-top: none;">
				</If>
					<h3>{{titleToDisplay}}</h3>
				</div>
				<div class="csc-text">
					<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html"/>
				</div>
		   </div>
		</div>
	</article>
</Grid>
