<script>
	modules.push('scrollto');
	modules.push('enable-popover');
</script>
<div class="" style="padding-right: 0px;">
	<div class="sidebar-content">
		<div class="sidebar-category">
			<div class="category-title p-10">
			<If condition="'{{slogan_icon_show}}' == 'yes'">
				<i class="{{slogan_icon}} pr-5"></i>
			</If>
				<span>{{slogan_title}}
					<If condition="'{{help_show}}' == 'yes'">
						<div class="pull-right content-group">
							<a href="javascript:void(0);" class="additional-action button-icon jarviswidget-edit-btn has-popover" title="{{help_title}}"
							data-placement="bottom" data-viewport="body" data-container="body">
							<i class="icon-help no-padding-top"></i>
							<div class="popover-content-holder" style="display: none;">
								{{help_description}}
							</div>
							</a>
						</div>
					</If>
				</span>
			</div>
		<If condition="'{{slogan_description_show}}' == 'yes'">
				<div class="pl-10 pr-10 pt-10 content-group no-margin-bottom">{{slogan_description}}</div>
		</If>
	<Grid gridId="firstGroupingGrid">
		<IfEmpty>
			<Grid gridId="gridDataSrc">
			<IfEmpty>
    		<p class="text-muted text-size-small pl-10 pt-10">No news found</p>
			</IfEmpty>
				<Header>
				<div class="category-content p-10" style="display: block;">
					<ul class="media-list">
				</Header>
					<li class="media">
						<Include SRC="{{./}}partials/right_news_box_wraper.html"/>
					</li>
				<Footer>
					</ul>
				</div>
				</Footer>
			</Grid>
		</IfEmpty>
			<If condition="'{{existSubGroup}}'=='no'">
				<h2 class="list-group-header">{{labelGroup}}</h2>
				<Grid gridId="firstLevelGrid_CIINSIDE_key_{{keyGroup}}">
				<Header>
				<div class="category-content" style="display: block;">
					<ul class="media-list">
				</Header>
					<li class="media">
						<Include SRC="{{./}}partials/right_news_box_wraper.html"/>
					</li>
				<Footer>
					</ul>
				</div>
				</Footer>
				</Grid>
			</If>
			<If condition="'{{existSubGroup}}'=='yes'">
				<Grid gridId="secondLevelGrid_{{keyGroup}}">
					<h2 class="list-group-header">{{labelSubGroupFull}}</h2>
					<Grid gridId="{{keySubGroup}}">
					<Header>
					<div class="category-content p-10" style="display: block;">
						<ul class="media-list">
					</Header>
					<li class="media">
						<Include SRC="{{./}}partials/right_news_box_wraper.html"/>
					</li>
					<Footer>
						</ul>
					</div>
					</Footer>
				</Grid>
				</Grid>
			</If>
	</Grid>
	<div class="pr-10">
		<Include SRC="{{./}}partials/list_footer.html"/>
	</div>
	<If condition="'{{show_footer_pagination}}'=='yes'">
		<Include SRC="{{./}}partials/pagination.html"/>
	</If>
		</div>
	</div>
</div>
<style>
	.close.popover-close-btn{
		padding: 10px;
	}
	i.help-icon {
		font-size: 18px;
		padding-top: 10px;
	}
</style>