<style>
	.filter-part{
/*		padding-left:10px;*/
		display: inline-flex;
	}
	.filter-part .dropdown{
		margin-right: 10px;
	}
	@media screen and (max-width: 6190px) {
		.filter-part{
			margin-bottom:10px;
		}
	}
	@media screen and (max-width: 480px) {
		.filter-part {
			display: block;
			width:100%;
			margin-bottom:10px;
		}
		.filter-part button{
			width:100%
		}
		.filter-part ul{
			width:100%
		}
		.filter-part .dropdown{
			margin-bottom:10px;
		}
}
	
	.disabled-icon{
	  opacity: 0.6;
	  cursor: not-allowed;
	}
	.bold-500{
		font-weight:500;
	}
	.maxwidth-600 p{
		max-width:600px;
	}
	.dataTables_filter{
		margin:0;
	}
	.clearfilter button{
		width: 100%;
	}
	.margin-datatable{
		margin:initial;
		margin-bottom:15px;
	}
	.filter-header div{
		margin-bottom:8px;
	}
	.link-heading a{
		text-decoration: none;
		color: #333333;
	}
	.select-category{
		width:100%;
	}
</style>


<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
<Grid gridId="firstGroupingGrid">
	
<IfEmpty>
<Grid gridId="gridDataSrc">
				<IfEmpty>
				<Include SRC="{{./}}partials/list_empty_message_template.html"/>
				</IfEmpty>

	<Header>
<!--	 <div class="content-wrapper">-->
		<div class="panel panel-flat data-table-wrapper wrapper-table">
			<div class="dataTables_wrapper no-footer" style="display: block;">
				<div class="datatable-header bg-grey-light filter-header">
				<Include SRC="{{./}}partials/TableFilterFrom.html"/> <!-- TableFilterFrom.html -->

				</div>
				
				<div class="datatable-scroll-wrap">
					<table class="table datatable-header-reorder dataTable no-footer">	
						<thead>
							<tr role="row">
								<th class="sorting" >Title</th>
								<th class="sorting hidden-xs">File Size</th>
								<th class="sorting hidden-xs" >Publication</th>
								<th class="text-center sorting_disabled hidden-xs">Actions</th>

							</tr>
						</thead>

						 <tbody>	
	</Header>
			<tr role="row">
				<Var name="handle_first">('{{alias}}' == '0' ? 'border-top:0;' : '')</Var>
				<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
				<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
				<Grid gridId="DocCachedInfo_{{asset_id}}">
								<td class="maxwidth-600">
									<div class="media {{handle_editing_class}}" {{handle_editing_attr}}>
										<div class="media-left">
										<Include SRC="{{./}}partials/file-icons.html"/>
										</div>
										<div class="media-body">
											<If condition="'{{DA_filesize_display}}' == 'yes'"> <!--File Size for Mobile Device -->
												<div class="media-annotation pull-right visible-xs">
													{{file_size}}
												</div>
											</If> <!-- END File Size for Mobile Device -->
											<h6 class="media-heading text-semibold mb-0 link-heading"> <!-- Title -->
												<If condition="'{{linkToTitle}}' == 'yes'">
													<If condition="'{{targetUsedFromMakeLink}}' == 'docAttached' && '{{asset_id}}'>'0'">
														<Grid gridId="DocCachedInfo_{{asset_id}}">
															<IfEmpty>
															<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
																{{titleToDisplay}}
															</a>
															</IfEmpty>
															
<!--
																<a title="{{titleToAlt}}" href="{{stream_url}}" target="_blank" class="d-block">
																{{titleToDisplay}}
																</a>
-->
													
															<a  title="{{_DA_preview_iconlabel}}"  data-title="{{titleToAlt}}" data-view="" data-key="{{identifier_type}}" data-width="{{dt_width}}" data-height="{{dt_height}}" data-id="{{CID_REF}}"data-url="{{identifier_key}}" href="{{stream_url}}">
																{{titleToDisplay}}
															</a>
														</Grid>
													</If>
													<If condition="'{{targetUsedFromMakeLink}}' != 'docAttached' || ('{{targetUsedFromMakeLink}}' == 'docAttached'  && ('{{asset_id}}'=='0' || '{{asset_id}}'==''))">
														<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
															{{titleToDisplay}}
														</a>
													</If>
												</If>
												<If condition="'{{linkToTitle}}' != 'yes'">
													{{titleToDisplay}}
												</If>
											</h6> <!-- END Title -->
			
											<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'"> <!-- Date for Mobile Device -->
												<div class="media-annotation visible-xs">
													<If condition="'{{DC_date_display}}' == 'yes'">
													{{source_creation_date}}
													</If>
													<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
														/
													</If>
													<If condition="'{{DC_time_display}}' == 'yes'">
													{{source_creation_time}}
													</If>
												</div>
											</If> <!--  END Date for Mobile Device -->
											<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'"> <!-- Abstract -->
													<p class="mb-0">{{abstractToDisplay}}</p>
											</If> <!--END Abstract -->
											<div class="visible-xs pull-right">
												<Include SRC="{{./}}partials/file-actions.html"/>
											</div>
											<!-- CATEGORY -->
											<div class="media-annotation">
											  <Grid gridId="gridDataSrcKeywords_{{CID}}">
											   <Header>
												  <ul class="list-inline text-green-800">
											   </Header>
												
													<li>{{family_name}}: {{docKeywords}}</li>
												<Footer>
												</ul>
												</Footer>
											</Grid>
											</div>
											<!-- END CATEGORY -->
										</div>
									</div>
								</td>

								<td class="hidden-xs"> <!-- File Size -->
									<If condition="'{{DA_filesize_display}}' == 'yes'">
										{{file_size}}
									</If>
								</td> <!-- END File Size -->

								<td class="hidden-xs">	<!-- Date -->
									<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'">
										<If condition="'{{DC_date_display}}' == 'yes'">
											{{source_creation_date}}
										</If>
										<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
											/
										</If>
										<If condition="'{{DC_time_display}}' == 'yes'">
											{{source_creation_time}}
										</If>
									</If>
								</td> <!-- END Date -->
								<td class="text-center hidden-xs">
									<Include SRC="{{./}}partials/file-actions.html"/>
								</td>
				</Grid>
		</tr>

	<Footer>
					</tbody>
				</table>
			</div>
			<div class="datatable-footer bg-grey-light">
				<Include SRC="{{./}}partials/show-pagination-info.html"/>
				<Include SRC="{{./}}partials/pagination-table.html"/>
			</div>
		</div>
	</div>
<!--</div>-->


	</Footer>
</Grid>
</IfEmpty>
	<Header>
		<div class="panel panel-flat data-table-wrapper wrapper-table">
			<div class="dataTables_wrapper no-footer" style="display: block;">
				<div class="datatable-header bg-grey-light filter-header">
				<Include SRC="{{./}}partials/TableFilterFrom.html"/>
				</div>
				<div class="datatable-scroll-wrap">
					<table class="table datatable-header-reorder dataTable no-footer">	
						<thead>
							<tr role="row">
								<th class="sorting" >Title</th>
								<th class="sorting hidden-xs">File Size</th>
								<th class="sorting hidden-xs" >Publication</th>
								<th class="text-center sorting_disabled hidden-xs">Actions</th>

							</tr>
						</thead>
						 <tbody>
	</Header>		
		<If condition="'{{existSubGroup}}'=='no'">	  
			
			<tr class="border-double">
			 <td colspan="5" style="width: 100%; padding-top:0; padding-bottom:0">
				<h6 class="text-semibold">{{labelGroup}}</h6>
			 </td> 
			</tr>	
					
	<Grid gridId="firstLevelGrid_CIINSIDE_key_{{keyGroup}}">
		
			
			
			<tr role="row">
				<Var name="handle_first">('{{alias}}' == '0' ? 'border-top:0;' : '')</Var>
				<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
				<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
				<Grid gridId="DocCachedInfo_{{asset_id}}">
							
								<td class="maxwidth-600">
									<div class="media {{handle_editing_class}}" {{handle_editing_attr}}>
										<div class="media-left">
										<Include SRC="{{./}}partials/file-icons.html"/>
										</div>
										<div class="media-body">
											<If condition="'{{DA_filesize_display}}' == 'yes'"> <!--File Size for Mobile Device -->
												<div class="media-annotation pull-right visible-xs">
													{{file_size}}
												</div>
											</If> <!-- END File Size for Mobile Device -->
											<h6 class="media-heading text-semibold mb-0 link-heading"> <!-- Title -->
												<If condition="'{{linkToTitle}}' == 'yes'">
													<If condition="'{{targetUsedFromMakeLink}}' == 'docAttached' && '{{asset_id}}'>'0'">
														<Grid gridId="DocCachedInfo_{{asset_id}}">
															<IfEmpty>
															<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
																{{titleToDisplay}}
															</a>
															</IfEmpty>
															
<!--
																<a title="{{titleToAlt}}" href="{{stream_url}}" target="_blank" class="d-block">
																{{titleToDisplay}}
																</a>
-->
													
															<a  title="{{_DA_preview_iconlabel}}"  data-title="{{titleToAlt}}" data-view="" data-key="{{identifier_type}}" data-width="{{dt_width}}" data-height="{{dt_height}}" data-id="{{CID_REF}}"data-url="{{identifier_key}}" href="{{stream_url}}">
																{{titleToDisplay}}
															</a>
														</Grid>
													</If>
													<If condition="'{{targetUsedFromMakeLink}}' != 'docAttached' || ('{{targetUsedFromMakeLink}}' == 'docAttached'  && ('{{asset_id}}'=='0' || '{{asset_id}}'==''))">
														<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
															{{titleToDisplay}}
														</a>
													</If>
												</If>
												<If condition="'{{linkToTitle}}' != 'yes'">
													{{titleToDisplay}}
												</If>
											</h6> <!-- END Title -->
			
											<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'"> <!-- Date for Mobile Device -->
												<div class="media-annotation visible-xs">
													<If condition="'{{DC_date_display}}' == 'yes'">
													{{source_creation_date}}
													</If>
													<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
														/
													</If>
													<If condition="'{{DC_time_display}}' == 'yes'">
													{{source_creation_time}}
													</If>
												</div>
											</If> <!--  END Date for Mobile Device -->
											<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'"> <!-- Abstract -->
													<p class="mb-0">{{abstractToDisplay}}</p>
											</If> <!--END Abstract -->
											<div class="visible-xs pull-right">
												<Include SRC="{{./}}partials/file-actions.html"/>
											</div>
											<!-- CATEGORY -->
											<div class="media-annotation">
											  <Grid gridId="gridDataSrcKeywords_{{CID}}">
											   <Header>
												  <ul class="list-inline text-green-800">
											   </Header>
												
													<li>{{family_name}}: {{docKeywords}}</li>
												<Footer>
												</ul>
												</Footer>
											</Grid>
											</div>
											<!-- END CATEGORY -->
										</div>
									</div>
								</td>

								<td class="hidden-xs"> <!-- File Size -->
									<If condition="'{{DA_filesize_display}}' == 'yes'">
										{{file_size}}
									</If>
								</td> <!-- END File Size -->

								<td class="hidden-xs">	<!-- Date -->
									<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'">
										<If condition="'{{DC_date_display}}' == 'yes'">
											{{source_creation_date}}
										</If>
										<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
											/
										</If>
										<If condition="'{{DC_time_display}}' == 'yes'">
											{{source_creation_time}}
										</If>
									</If>
								</td> <!-- END Date -->
								<td class="text-center hidden-xs">
									<Include SRC="{{./}}partials/file-actions.html"/>
								</td>
				</Grid>
		</tr>

	</Grid>
	</If>
	
		<If condition="'{{existSubGroup}}'=='yes'">
			<Grid gridId="secondLevelGrid_{{keyGroup}}">
				<tr class="border-double">
				 <td colspan="5" style="width: 100%; padding-top:0; padding-bottom:0">
					<h6 class="text-semibold">{{labelSubGroupFull}} -- {{keyGroup}}</h6>
				 </td> 
				</tr>
				<Grid gridId="{{keySubGroup}}">
					<tr role="row">
				<Var name="handle_first">('{{alias}}' == '0' ? 'border-top:0;' : '')</Var>
				<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
				<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
				<Grid gridId="DocCachedInfo_{{asset_id}}">
							
								<td class="maxwidth-600">
									<div class="media {{handle_editing_class}}" {{handle_editing_attr}}>
										<div class="media-left">
										<Include SRC="{{./}}partials/file-icons.html"/>
										</div>
										<div class="media-body">
											<If condition="'{{DA_filesize_display}}' == 'yes'"> <!--File Size for Mobile Device -->
												<div class="media-annotation pull-right visible-xs">
													{{file_size}}
												</div>
											</If> <!-- END File Size for Mobile Device -->
											<h6 class="media-heading text-semibold mb-0 link-heading"> <!-- Title -->
												<If condition="'{{linkToTitle}}' == 'yes'">
													<If condition="'{{targetUsedFromMakeLink}}' == 'docAttached' && '{{asset_id}}'>'0'">
														<Grid gridId="DocCachedInfo_{{asset_id}}">
															<IfEmpty>
															<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
																{{titleToDisplay}}
															</a>
															</IfEmpty>
															
<!--
																<a title="{{titleToAlt}}" href="{{stream_url}}" target="_blank" class="d-block">
																{{titleToDisplay}}
																</a>
-->
													
															<a  title="{{_DA_preview_iconlabel}}"  data-title="{{titleToAlt}}" data-view="" data-key="{{identifier_type}}" data-width="{{dt_width}}" data-height="{{dt_height}}" data-id="{{CID_REF}}"data-url="{{identifier_key}}" href="{{stream_url}}">
																{{titleToDisplay}}
															</a>
														</Grid>
													</If>
													<If condition="'{{targetUsedFromMakeLink}}' != 'docAttached' || ('{{targetUsedFromMakeLink}}' == 'docAttached'  && ('{{asset_id}}'=='0' || '{{asset_id}}'==''))">
														<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
															{{titleToDisplay}}
														</a>
													</If>
												</If>
												<If condition="'{{linkToTitle}}' != 'yes'">
													{{titleToDisplay}}
												</If>
											</h6> <!-- END Title -->
			
											<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'"> <!-- Date for Mobile Device -->
												<div class="media-annotation visible-xs">
													<If condition="'{{DC_date_display}}' == 'yes'">
													{{source_creation_date}}
													</If>
													<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
														/
													</If>
													<If condition="'{{DC_time_display}}' == 'yes'">
													{{source_creation_time}}
													</If>
												</div>
											</If> <!--  END Date for Mobile Device -->
											<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'"> <!-- Abstract -->
													<p class="mb-0">{{abstractToDisplay}}</p>
											</If> <!--END Abstract -->
											<div class="visible-xs pull-right">
												<Include SRC="{{./}}partials/file-actions.html"/>
											</div>
											<!-- CATEGORY -->
											<div class="media-annotation">
											  <Grid gridId="gridDataSrcKeywords_{{CID}}">
											   <Header>
												  <ul class="list-inline text-green-800">
											   </Header>
												
													<li>{{family_name}}: {{docKeywords}}</li>
												<Footer>
												</ul>
												</Footer>
											</Grid>
											</div>
											<!-- END CATEGORY -->
										</div>
									</div>
								</td>

								<td class="hidden-xs"> <!-- File Size -->
									<If condition="'{{DA_filesize_display}}' == 'yes'">
										{{file_size}}
									</If>
								</td> <!-- END File Size -->

								<td class="hidden-xs">	<!-- Date -->
									<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes'">
										<If condition="'{{DC_date_display}}' == 'yes'">
											{{source_creation_date}}
										</If>
										<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes'">
											/
										</If>
										<If condition="'{{DC_time_display}}' == 'yes'">
											{{source_creation_time}}
										</If>
									</If>
								</td> <!-- END Date -->
								<td class="text-center hidden-xs">
									<Include SRC="{{./}}partials/file-actions.html"/>
								</td>
				</Grid>
		</tr>
				</Grid>
			</Grid>	
		</If>
	
	
	
	
	
	
	<Footer>
		</tbody>
	</table>
	</div>
			<div class="datatable-footer bg-grey-light">
				<Include SRC="{{./}}partials/show-pagination-info.html"/>
				<Include SRC="{{./}}partials/pagination-table.html"/>
			</div>
		</div>
	</div>
	</Footer>


</Grid>



