<Grid gridId="gridDataSrc">
<Header>
<div class="calendar-list">
	<div class="row">
</Header>
			<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
			<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
			<div class="col-md-11 offset-md-1 {{handle_editing_class}}" {{handle_editing_attr}}>
				<h3>
						<If condition="'{{linkToTitle}}' == 'yes'">
							<a title="{{titleToAlt}}" href="{{hrefToDoc}}">
								{{titleToDisplay}}
							</a>
						</If>
						<If condition="'{{linkToTitle}}' != 'yes'">
								{{titleToDisplay}}
						</If>
				</h3>
				<If condition="'{{dp_abst}}' == 'yes'">
					<p>{{abstractToDisplay}}</p>
				</If>
				<If condition="'{{dp_labelUserDefinedLink}}' == 'yes'">
					<a href="{{hrefToDoc}}" class="btn btn-primary btn-sm legitRipple" role="button" tabindex="0">{{labelUserDefinedLink}}</a>
				</If>
			</div>
<Footer>
	</div>
</div>
</Footer>
</Grid>