<Grid gridId="gridToLabelsSearchModule">
<script type="text/javascript" language="JavaScript1.2">
var tp				= new Array();
tp["{{idstemp}}"]	= "{{search_targeted_page}}";
</script>
<script type="text/javascript" language="javascript1.2" src="{{ASP_FRONT_URL}}nems/SearchModule/SearchModule.js"></script>
<div class="navbar-collapse collapse" id="navbar-search">
	<form id="guess_by_term" role="search" class="navbar-form animated" name="searchForm" id="f_{{idstemp}}" action="" method="post" onsubmit="on_searchTerm('{{idstemp}}'); return false;">
		<input type="hidden" name="crd" value="{{level_0}},{{level_1}},{{level_2}},{{level_3}},{{level_4}}" />
		<div class="form-group has-feedback has-feedback-right" style="display: block; width: 100%" title="{{srcLbl_buton_title}}">
			<input type="search" class="form-control guess_by_term" name="search" id="i_{{idstemp}}" value="" maxlength="50"
				placeholder="{{srcLbl_placehoder}}"
				dt-idstemp="{{idstemp}}"  maxlength="50"
				data-target="#id_{{search_suggest_idstemp}}"
				autocomplete="off" type="text"
				type="text"
				style="width: 100%;">
			<div class="form-control-feedback" title="{{}}">
				<i class="icon-search4 text-size-base search-indicator"></i>
			</div>
			<div class="ajax-loader-sml"></div>
		</div>
	</form>
	<div id="id_{{search_suggest_idstemp}}" class="">
	</div>
</div>
	<div class="search-dim search-close"></div>

<script>
modules.push('guess_by_term');
</script>
</Grid>