<WebBox ID="CollectUserEnquiryFeedback" Type="Service" MODE="Dynamic">


{{CollectUserEnquiryFeedback_TEMPLATE}}

	<script type="text/javascript">
    	modules.push('contact_post_nem');
	</script>
	<script type="text/javascript" src="{{ASP_FRONT_URL}}include_js/valid_fun/isnull.js"></script>
 	<script type="text/javascript" src="{{ASP_FRONT_URL}}include_js/valid_fun/isemailaddress.js"></script>
  	<script type="text/javascript" src="{{ASP_FRONT_URL}}include_js/valid_fun/valid_value.js"></script>
  	<script type="text/javascript" src="{{ASP_FRONT_URL}}nems/UserEnquiryFeedback/EnquiryFeedback.js"></script>

	</WebBox>