<If condition="'{{sendFeedbackProces}}' == 'SUCCESS'">
	<div class="alert alert-success">
		<span class="fa-fw fa fa-check"></span>
		{{success_send_message}}
	</div>
</If>
<If condition="'{{sendFeedbackProces}}' == 'FAIL'">
	<div class="alert alert-danger">
		<span class="fa-fw fa fa-warning"></span>
		{{error_send_message}}
	</div>
</If>
<If condition="'{{sendFeedbackProces}}' == 'NEW' || '{{sendFeedbackProces}}' == 'RESEND'">
	{{mesg_js}}
	<div class="container">
		<form name="enquiry_form_name_{{id_nem}}" id="enquiry_form_name_{{id_nem}}" action="javascript:feedback_send('{{idstemp}}','{{id_nem}}',{{EF_id}});" class="validate padding-0" role="form" method="post">
				<fieldset>
						<If condition="'{{headline}}' != ''">
						<div class="content-group-lg heading-divided">
							<h1>
								<If condition="'{{slogan_icon_show}}' == 'yes'">
								<i class="{{slogan_icon}}"></i>
								</If>
									{{headline}}
								<If condition="'{{help_show}}' == 'yes'">
								<div class="full-right has-popover cursor-pointer" title="{{help_title}}" data-toggle="popover" data-placement="bottom" data-container="body" data-viewport="body">
									<a class="btn btn-sm btn-outline btn-primary no-margin"><i class="fa fa-question-circle"></i></a>
									<div class="popover-content-holder">
										{{help_description}}
									</div>
								</div>
								</If>
							</h1>
						</div>
						</If>
						<If condition="'{{slogan_description_show}}' == 'yes'">
							<div class="promo-description margin-top-10 margin-bottom-20">
								<div class="row">
									<div class="col-lg-12">
										{{slogan_description}}
									</div>
								</div>
							</div>
						</If>
					<input type="hidden" name="systemUserId" value="{{systemUserId}}">
					<input type="hidden" name="typeEF" value="{{typeEF}}">
					<input type="hidden" id="UserName_{{EF_id}}" name="UserName" value="{{UserName}}">
					<input type="hidden" name="EF_id" value="{{EF_id}}">
					<!--div class="row">
						<If condition="'{{showEnquirerType}}' == 'show'">
						<div class="col-sm-12 form-group">
							<Var name="disableSelectEnquirer">('{{EnquirerTypeSel}}' == 'no' ? '':'disabled')</Var>
							<Var name="disableSelectEnquirerLabel">('{{EnquirerTypeSel}}' == 'no' ? '':'state-disabled')</Var>
							<label class="control-label" for="EnquirerType">*{{feedback_enquirer_mesg}}:</label>
							<div class="col-sm-12">
								<select class="col-sm-12 input-sm form-control {{disableSelectEnquirerLabel}}" id="EnquirerType" name="EnquirerType" valid="0,0,0,0,0,0" etiketa="{{feedback_enquirer_mesg}}"
									name_post="{{feedback_enquirer_mesg}}" {{disableSelectEnquirer}}
									data-rule-required="true"
									data-msg-required="{{field_reqiured_mesg}}">
									<option value=""></option>
									<Grid gridId="enquirerTypeGrid">
										<Var name="sel">('{{EnquirerType}}' == '{{id}}' ? 'selected':'')</Var>
										<option value="{{id}}" {{sel}}>{{label}}</option>
									</Grid>
								</select>
							</div>
						</div>
						</If>
						<If condition="'{{showEnquirerType}}' == 'hide'">
							<input type="hidden" name="EnquirerType" id="EnquirerType" value="{{EnquirerType}}" valid="0,0,0,0,0,0" etiketa="{{feedback_enquirer_mesg}}"
									name_post="{{feedback_enquirer_mesg}}">
						</If>
						<If condition="'{{singleQuestion}}'=='yes'">
							<input type="hidden" name="EnquiryQuestion" value="{{EnquiryQuestion}}" valid="0,0,0,0,0,0" etiketa="{{feedback_question_msg}}"
										name_post="{{feedback_question_msg}}">

						</If>
						<If condition="'{{singleQuestion}}'!='yes'">
							<div class="col-sm-12 form-group">
								<label class="control-label" for="EnquiryQuestion">*{{feedback_question_msg}}:</label>
								<select class="input-sm form-control" id="EnquiryQuestion" name="EnquiryQuestion" data-rule-required="true"
									data-msg-required="{{field_reqiured_mesg}}"
									valid="0,0,0,0,0,0" etiketa="{{feedback_question_msg}}"
									name_post="{{feedback_question_msg}}">
									<option value=""></option>
									<Grid gridId="enquireQuestionGrid">
										<Var name="selec">('{{EnquiryQuestion}}' == '{{id}}' ? 'selected':'')</Var>
										<option value="{{id}}" {{selec}}>{{label}}</option>
									</Grid>
								</select>
							</div>
						</If>
					</div-->







						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="{{disableLabel}}" for="UserFirstName">*{{contact_firstName_msg}}:</label>
								<input id="UserFirstName" name="UserFirstName" type="text" value="{{UserFirstName}}"
									class="input-sm form-control"
									data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_firstName_msg}}"
									name_post="{{contact_firstName_msg}}"
									data-rule-namefieldsanity="true"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
							</div>
							<div class="col-sm-6 form-group">
								<label class="{{disableState}}" for="UserSecondName">*{{contact_secontName_msg}}:</label>
								<input id="UserSecondName" name="UserSecondName" type="text" value="{{UserSecondName}}"
									class="input-sm form-control"
									data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_secontName_msg}}"
									name_post="{{contact_secontName_msg}}"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="{{disableLabel}}" for="UserEmail">*{{contact_email_msg}}:</label>
								<input id="UserEmail_{{EF_id}}" name="UserEmail" type="text" value="{{UserEmail}}"
									class="input-sm form-control"
									data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_email_msg}}"
									name_post="{{contact_email_msg}}"
									data-rule-namefieldsanity="true"
									data-rule-required="true"
									data-rule-email="true" data-msg-required="{{field_reqiured_mesg}}">
							</div>
							<div class="col-sm-6 form-group">
								<label for="phone">{{contact_phone_msg}}:</label>
								<input id="phone" name="phone" type="text" class="input-sm form-control" value="{{UserPhone}}"
									data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_phone_msg}}"
									name_post="{{contact_phone_msg}}"
									data-rule-namefieldsanity="true">
							</div>
						</div>

					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="_subjectLBL">{{subject_lbl_msg}}:</label>
							<input id="_subjectLBL" name="_subjectLBL" value="" type="text" class="input-sm form-control"
								data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{_subjectLBL}}"
								name_post="{{subject_lbl_msg}}"
								data-rule-namefieldsanity="true">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="enquiry_details">*{{enquiry_details_msg}}:</label>
							<textarea style="resize: vertical" id="enquiry_details" name="enquiry_details" rows="5" class="form-control" data-rule-htmlsanity="true" valid="0,0,0,0,0,0"
							etiketa="{{enquiry_details_msg}}"
							name_post="{{enquiry_details_msg}}"
							data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}"
							>{{enquiry_details}}</textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group margin-left-15">
							<Include SRC="{{./}}captcha_form.html"/>
						</div>
					</div>
					<script>
						modules.push('kw-list-controller','validate');
					</script>

			<div class="clearfix">
				<div class="full-right">
					<button type="submit" class="btn btn-sm btn-brand btn-padding" id="submitEF_{{EF_id}}">{{submit_button_lbl}}</button>
					<button type="reset" class="btn btn-sm btn-default btn-padding margin-left-10">{{reset_button_lbl}}</button>
				</div>
			</div>
				

				</fieldset>


		</form>
			</div>
</If>

<style>
	.margin-left-10 {
		margin-left: 10px;
	}
	.btn-padding{
		padding-left: 20px;
		padding-right: 20px;
	}
</style>