
<If condition="'{{sendFeedbackProces}}' == 'SUCCESS'">
	<div class="alert alert-success">
		<span class="fa-fw fa fa-check"></span>
		{{success_send_message}}
	</div>
</If>
<If condition="'{{sendFeedbackProces}}' == 'FAIL'">
	<div class="alert alert-danger">
		<span class="fa-fw fa fa-warning"></span>
		{{error_send_message}}
	</div>
</If>
<If condition="'{{sendFeedbackProces}}' == 'NEW' || '{{sendFeedbackProces}}' == 'RESEND'">
	{{mesg_js}}
		<If condition="'{{headline}}' != ''">
		<div class="block-header mb-3">
			<h2 class="h1 block-title mb-0">
				<If condition="'{{slogan_icon_show}}' == 'yes'">
				<i class="{{slogan_icon}}"></i>
				</If>
				{{headline}}
				<If condition="'{{help_show}}' == 'yes'">
				<div class="pull-right has-popover cursor-pointer" title="{{help_title}}" data-toggle="popover" data-placement="bottom" data-container="body" data-viewport="body">
					<a class="btn btn-xs btn-outline btn-brand no-margin"><i class="fa fa-question-circle"></i></a>
					<div class="popover-content-holder">
						{{help_description}}
					</div>
				</div>
				</If>
			</h2>
		</div>
		</If>
		<If condition="'{{slogan_description_show}}' == 'yes'">
			<div class="row mb-4">
				<div class="block-description col-lg-8 col-md-12 full-width-with-right">
					{{slogan_description}}
				</div>
			</div>
		</If>
		<form name="enquiry_form_name_{{id_nem}}" id="enquiry_form_name_{{id_nem}}" action="javascript:feedback_send('{{idstemp}}','{{id_nem}}','{{EF_id}}','{{sourceItemId}}');" class="validate padding-0" role="form" method="post">
			<div class="container">
				<fieldset>
				<input type="hidden" name="systemUserId" value="{{systemUserId}}">
				<input type="hidden" name="typeEF" value="{{typeEF}}">
				<input type="hidden" id="UserName_{{EF_id}}" name="UserName" value="{{username}}">
				<input type="hidden" name="EF_id" value="{{EF_id}}">

				<If condition="'{{sourceSameAsTarget}}' == 'no'">				
					<input type="hidden" name="sourcetrg" value="{{sourceItemId}}">
					<If condition="'{{show_label_eventNameLBL}}' == 'yes'">
					<div class="form-group row">
						<label for="sourceItemTitle" class="col-md-4 col-form-label">{{eventName_msg}}*:</label>
						<div class="col-md-8">
							<input type="hidden" class="form-control" id="sourceItemTitle" name="sourceItemTitle"  value="{{sourceItemTitle}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{eventName_msg}}" name_post="{{eventName_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
							<label class="col-form-label">{{sourceItemTitle}}</label>
						</div>					
					</div>
					</If>

					<If condition="'{{show_label_eventDateLBL}}' == 'yes'">
					<div class="form-group row">
						<label for="sourceItemDate" class="col-md-4 col-form-label">{{eventDate_msg}}*:</label>
						<div class="col-md-8">
							<input type="hidden" class="form-control" id="sourceItemDate" name="sourceItemDate"  value="{{sourceItemDate}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{eventDate_msg}}" name_post="{{eventDate_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
							<label class="col-form-label">{{sourceItemDate}}</label>
						</div>					
					</div>
					</If>
				</If>

				<If condition="'{{show_label_salutationLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="UserSalutation" class="col-md-4 col-form-label">{{feedback_salutation_msg}}*:</label>
					<div class="col-md-8">
						<div id="gender-group">
							<Var name="maleSel">('{{UserSalutation}}' == 'Herr' ? 'checked':'')</Var>
							<Var name="femaleSel">('{{UserSalutation}}' == 'Frau' ? 'checked':'')</Var>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input" type="radio" name="UserSalutation" value="{{_female_msg}}" valid="0,0,0,0,0,0" etiketa="{{feedback_salutation_msg}}" name_post="{{feedback_salutation_msg}}"
									data-rule-htmlsanity="true" {{femaleSel}}
									data-rule-namefieldsanity="true"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}"
									data-error-placement-after="#gender-group">
								</label>
							</div><i></i>&nbsp;{{_female_msg}}

							<div class="form-check form-check-inline pl-2">
								<label class="form-check-label">
									<input class="form-check-input" type="radio" name="UserSalutation" value="{{_male_msg}}" etiketa="{{feedback_salutation_msg}}" valid="0,0,0,0,0,0" {{maleSel}}
									data-rule-htmlsanity="true" name_post="{{feedback_salutation_msg}}"
									data-rule-namefieldsanity="true"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}" 
									data-error-placement-after="#gender-group">
								</label><i></i>&nbsp;{{_male_msg}}
							</div>
						</div>
					</div>
				</div>
				</If>
				<If condition="'{{show_label_firstnameLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="UserFirstName" class="col-md-4 col-form-label">{{contact_firstName_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="UserFirstName" name="UserFirstName"  value="{{UserFirstName}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_firstName_msg}}" name_post="{{contact_firstName_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_lastnameLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="UserSecondName" class="col-md-4 col-form-label">{{contact_secontName_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="UserSecondName" name="UserSecondName"  value="{{UserSecondName}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_secontName_msg}}" name_post="{{contact_secontName_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				
				<If condition="'{{show_label_institutionLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="institution" class="col-md-4 col-form-label">{{contact_institution_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="institution" name="institution" value="{{institution}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_institution_msg}}" name_post="{{contact_institution_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_streetLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="addresse" class="col-md-4 col-form-label">{{contact_adresse_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="addresse" name="addresse" value="{{addresse}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_adresse_msg}}" name_post="{{contact_adresse_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_locationLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="plz_ort" class="col-md-4 col-form-label">{{contact_plz_ort_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="plz_ort" name="plz_ort" value="{{plz_ort}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_plz_ort_msg}}" name_post="{{contact_plz_ort_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_emailLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="UserEmail" class="col-md-4 col-form-label">{{contact_email_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="UserEmail" name="UserEmail" value="{{UserEmail}}" 
						data-rule-htmlsanity="true" valid="0,0,0,0,0,0" 
						etiketa="{{contact_email_msg}}" 
						name_post="{{contact_email_msg}}" 
						data-rule-email="true" 
						data-rule-namefieldsanity="true" 
						data-rule-required="true" 
						data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_phoneLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="UserPhone" class="col-md-4 col-form-label">{{contact_phone_msg}}*:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="UserPhone" name="UserPhone" value="{{UserPhone}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{contact_phone_msg}}" name_post="{{contact_phone_msg}}" data-rule-namefieldsanity="true" data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}">
					</div>
				</div>
				</If>
				
				<If condition="'{{show_label_enquiryDetailsLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="enquiry_details" class="col-md-4 col-form-label">{{enquiry_details_msg}}:</label>
					<div class="col-md-8"> <!-- style="resize: vertical" -->
						<textarea class="form-control border-textarea" id="enquiry_details" name="enquiry_details" rows="3" valid="0,0,0,0,0,0" etiketa="{{enquiry_details_msg}}" name_post="{{enquiry_details_msg}}">{{enquiry_details}}</textarea>
					</div>
				</div>
				</If>

				<If condition="'{{show_label_deviatingAccountAddressLBL}}' == 'yes'">
				<div class="form-group row">
					<label for="deviatingAccountAddress" class="col-md-4 col-form-label">{{deviatingAccountAddress_msg}}*:</label>
					<div class="col-md-8">
						<div id="deviatingAccountAddress-group">
							<Var name="yesSel">('{{deviatingAccountAddress}}' == '{{_yes_mesg}}' ? 'checked':'')</Var>
							<Var name="noSel">('{{deviatingAccountAddress}}' == '{{_no_mesg}}' ? 'checked':'')</Var>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input aboveage1"  id="deviatingAccountAddress" type="radio" name="deviatingAccountAddress" value="{{_yes_mesg}}" valid="0,0,0,0,0,0" etiketa="{{deviatingAccountAddress_msg}}" name_post="{{deviatingAccountAddress_msg}}"
									data-rule-htmlsanity="true" {{yesSel}}
									data-rule-namefieldsanity="true"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}"
									data-error-placement-after="#deviatingAccountAddress-group"
									data-controls-items='[
									  	{"element":"#showHideDeviatingAccountAddress","values":"true","controls":"visibility"},
									  	{"element":"#accountAddressName,#accountAddressStreet,#accountAddressPlzOrt","values":"true","controls":"activation"}
									]'>
								</label>
							</div><i></i>&nbsp;{{_yes_mesg}}

							<div class="form-check form-check-inline pl-2">
								<label class="form-check-label">
									<input class="form-check-input aboveage1"  id="deviatingAccountAddress" type="radio" name="deviatingAccountAddress" value="{{_no_mesg}}" etiketa="{{deviatingAccountAddress_msg}}" valid="0,0,0,0,0,0" {{noSel}}
									data-rule-htmlsanity="true" name_post="{{deviatingAccountAddress_msg}}"
									data-rule-namefieldsanity="true"
									data-rule-required="true" data-msg-required="{{field_reqiured_mesg}}" 
									data-error-placement-after="#deviatingAccountAddress-group"
									data-controls-items='[
									  	{"element":"#showHideDeviatingAccountAddress","values":"true","controls":"unvisibility"},
									  	{"element":"#accountAddressName,#accountAddressStreet,#accountAddressPlzOrt","values":"true","controls":"deactivation"}
									]'>
								</label><i></i>&nbsp;{{_no_mesg}}
							</div>
						</div>
					</div>
				</div>
				</If>
				<div id="showHideDeviatingAccountAddress">
					<If condition="'{{show_label_accountAddressNameLBL}}' == 'yes'">
						<div class="form-group row">
						<label for="accountAddressName" class="col-md-4 col-form-label">{{accountAddressName_msg}}*:</label>
						<div class="col-md-8">
							<input type="text" class="form-control validate" id="accountAddressName" name="accountAddressName" value="{{accountAddressName}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{accountAddressName_msg}}" name_post="{{accountAddressName_msg}}" data-rule-namefieldsanity="true" 
							data-rule-required="[id=deviatingAccountAddress][value={{_yes_mesg}}]:checked"
							data-msg-required="{{field_reqiured_mesg}}">
						</div>
						</div>
					</If>
					<If condition="'{{show_label_accountAddressStreetLBL}}' == 'yes'">
						<div class="form-group row">
						<label for="accountAddressStreet" class="col-md-4 col-form-label">{{accountAddressStreet_msg}}*:</label>
						<div class="col-md-8">
							<input type="text" class="form-control validate" id="accountAddressStreet" name="accountAddressStreet" value="{{accountAddressStreet}}" data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{accountAddressStreet_msg}}" name_post="{{accountAddressStreet_msg}}" data-rule-namefieldsanity="true" 
							data-rule-required="[id=deviatingAccountAddress][value={{_yes_mesg}}]:checked"
							data-msg-required="{{field_reqiured_mesg}}">
						</div>
						</div>
					</If>
					<If condition="'{{show_label_accountAddressPlzOrtLBL}}' == 'yes'">
						<div class="form-group row">
						<label for="accountAddressPlzOrt" class="col-md-4 col-form-label">{{accountAddressPlzOrt_msg}}*:</label>
						<div class="col-md-8">
							<input type="text" class="form-control validate" id="accountAddressPlzOrt" name="accountAddressPlzOrt" value="{{accountAddressPlzOrt}}"  data-rule-htmlsanity="true" valid="0,0,0,0,0,0" etiketa="{{accountAddressPlzOrt_msg}}" name_post="{{accountAddressPlzOrt_msg}}" data-rule-namefieldsanity="true" 
							data-rule-required="[id=deviatingAccountAddress][value={{_yes_mesg}}]:checked"
							data-msg-required="{{field_reqiured_mesg}}">
						</div>
						</div>
					</If>
				</div>

				<If condition="'{{show_label_captchaCodeLBL}}' == 'yes'">
				<div class="form-group row mt-2">
			 		<Include SRC="{{./}}full_width_form_captcha.html"/>
			 	</div>
				</If>
				 
			
				<script>
					modules.push('kw-list-controller','multi_dropzone','my_dropzone','validate','event_registration');
				</script>
				
				<div class="form-group row mt-1 pb-2">
					<div class="col-12">
						<If condition="'{{show_label_submitButtonLBL}}' == 'yes'">
						<button type="submit" class="btn btn-primary float-right col-tetriary" id="submitEF_{{EF_id}}">{{submit_button_lbl}}</button>
						</If>
						<If condition="'{{show_label_resetButtonLBL}}' == 'yes'">
						<button type="reset" class="btn btn-primary float-right col-tetriary mr-1">{{reset_button_lbl}}</button>
						</If>
					</div>
				</div>
			</fieldset>
			</div>
		</form>
</If>




