<WebBox ID="CommunityModule" dataF="Community" Type="Service" MODE="Dynamic">
<!--
<link type="text/css"  href="{{APP_URL}}include_css/summernote/summernote.css" rel="stylesheet">
<link type="text/css"  href="{{APP_URL}}include_css/summernote/summernote-bs3.css" rel="stylesheet">
-->
	<script type="text/javascript">
	   var _success 				= '{{_success}}';
	   var _fail 					= '{{_fail}}';
	   var _added_them_success 		= '{{_added_them_success}}';
	   var _added_them_fail 		= '{{_added_them_fail}}';
	   var _added_post_success		= '{{_added_post_success}}';
	   var _added_post_fail 		= '{{_added_post_fail}}';

	</script>

	<div id="container_CM">
		{{main_template_cm}}
	</div>
	<script>
		modules.push("tool-tip");
	</script>



</WebBox>