<div id="addint">
	<div class="padding-left-10 padding-right-10">
		<div class="page-header">
			<h3 class="margin-top-15 margin-bottom-0">
				<small>DISCUSSIONS HOME</small><br>
				{{CMtitle}}
			</h3>
		</div>
		<p><small>HOW TO USE THE DISCUSSIONS MODULE</small></p>
		<div class="well well-sm">
			Press the <a class="btn btn-xs btn-primary" title="{{_add_new_discussion}}" href="javascript:void(0);">
					<i class="fa fa-comment-o"></i> Add discussion
				</a> button if you want to start a new discussion. Fill the title and message and press "Save"
		</div>
		<div class="well well-sm">
			Click one of the items in the discussions list panel to view discussion details.
		</div>
		<div class="well well-sm">
			When you are in one of the discussion details click the <a class="btn btn-xs btn-primary" title="{{_add_new_reply}}" href="javascript:void(0);">
					<i class="fa fa-reply"></i> Add reply
				</a> button to add a new reply on the discussion. Enter your message and click save to submit your reply.
		</div>
		<div class="well well-sm">
			Press the <a class="btn btn-xs btn-default" title="{{_help}}" href="javascript:void(0);">
					<i class="fa fa-info"></i> Help
				</a> button to view this help content.
		</div>
	</div>
</div>