<div class="text-center">
	<div class="btn-group">

		<NavTpl navID="gridDataSrc" blNoToDisplay="3" stepBack="2">
			<Header>
				<div data-baseurl="forums/website-review.16/page-{{sentinel}}" data-sentinel="{{sentinel}}" data-last="26" data-end="16" data-start="2" data-range="7" data-page="1">
					
						<nav>
							<If condition="'{{previewsPage}}'!=''">
								<If condition="'{{displayFirstPage}}'=='yes'">
								<a class="btn btn-white" href="?rpp=1">{{_first}}</a>
								</If>
								
								<a class="btn btn-white" href="?rpp={{previewsPage}}"><i class="fa fa-chevron-left"></i></a>
							</If>
			</Header>
								<a rel="start" class=" {{selClass}} {{currentPage}} btn btn-white" href="?rpp={{BlockNavNr}}">{{BlockNavNr}}</a>
			<Footer>
							<If condition="'{{nextPage}}'!=''">
								<a class="btn btn-white" href="?rpp={{nextPage}}"><i class="fa fa-chevron-right"></i></a>
								
								<If condition="'{{displayLastPage}}'=='yes'">
								<a class="btn btn-white" href="?rpp={{TotPage}}">{{_last}}</a>
								</If>
							</If>
						</nav>
				</div>
			</Footer>
		</NavTpl>
	</div>
 </div>

