<div class="page-header-content" style="background-image: url({{backgroundUrl}}); background-size: auto 100%;background-position: 80% center;background-repeat: no-repeat;">
        <div class="page-title">
            <h1 class="mb-20 mt-20">
                <small class="display-block">{{headline}}</small>
                <If condition="'{{enable_user_to_show}}' == 'yes'">
                <span class="text-semibold">{{UserName}}</span>
                </If>
            </h1>
            <Grid gridId="CiGrid"
            <Header>
            </Header>
            </Grid>
        </div>
</div>