<div class="brand_marketing">
	<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
	<Grid gridId="Grid_StructuredContent">
		<IfEmpty>
	<Include SRC="{{./}}partials/list_empty_message_template.html"/>
	</IfEmpty>
		<Header>
			<div class="brand-marketing">
				<div class="row">
				</Header>
				<div class="col-lg-6">
					<h2>
					<If condition="'{{display_smallImg}}' == 'yes'">
					<div class="img_wd mb-2">
						<Grid gridId="DocCachedInfo_{{dp_image_ID}}">
							<If condition="'{{linkToimage}}' == 'yes'">
							<a href="{{hrefToDocOther}}"  title="{{titleToAlt}}">
								<img class="img-fluid" src="{{link_url}}" alt=""/>
							</a>
							</If>
							<If condition="'{{linkToimage}}' != 'yes'">
							<img class="img-fluid" src="{{link_url}}" alt=""/>
							</If>
						</Grid>
					</div>
					</If>
					</h2>
				</div>
				<div class="col-lg-6">
					<If condition="'{{dp_title}}' == 'yes'">
					<If condition="'{{exist_link}}' == 'yes' && '{{linkToTitle}}' == 'yes' ">
					<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}">
						<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{titleToDisplay}}
					</a>
					</If>
					<If condition="'{{exist_link}}' != 'yes' || '{{linkToTitle}}' != 'yes'">
					<div class="bodytext">{{titleToDisplay}}</div>
					</If>
					</If>
					
					<If condition="'{{display_title}}' == 'yes'">
					<If condition="'{{exist_link}}' == 'yes' && '{{linkToTitle}}' == 'yes' ">
					<h2>
					<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}">
						{{titleToDisplay}}
					</a>
					</h2>
					</If>
					<If condition="'{{exist_link}}' != 'yes' || '{{linkToTitle}}' != 'yes'">
					<h2>{{titleToDisplay}}</h2>
					</If>
					</If>
					
					<If condition="'{{display_desc}}' == 'yes' && '{{dp_desc}}' == 'yes'">
					<div class="bodytext">{{description}}</div>
					</If>
					<If condition="'{{display_content}}' == 'yes' && '{{exist_fullcontent}}' == 'yes'">
					<div class="bodytext">{{fullcontent}}</div>
					</If>

<If condition="'{{dp_labelUserDefinedLink}}' == 'yes' && '{{exist_link}}' == 'yes'">
						<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}" role="button" class="btn btn-primary">{{labelUserDefinedLink}}</a>
					</If>
					
				</div>
				<Footer>
				</div>
			</div>
			<Include SRC="{{NEMODULES_PATH}}ListItemCollector/network/partials/list_footer.html"/>
		</Footer>
	</Grid>
</div>