<div class="quick-links-basic">
<Grid gridId="Grid_StructuredContent">
	<IfEmpty>
	<Include SRC="{{./}}partials/list_empty_message_template.html"/>
	</IfEmpty>
	<Header>


<style>
	.img_wd{
		width: 200px;
	}
</style>

		<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
			
			<ul class="list-unstyled">
		</Header>

				<li>
						
					<If condition="'{{display_title}}' == 'yes'">
						<If condition="'{{exist_link}}' == 'yes' && '{{linkToTitle}}' == 'yes' ">
						<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}">
							<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{titleToDisplay}}
						</a>
						</If>
						<If condition="'{{exist_link}}' != 'yes' || '{{linkToTitle}}' != 'yes'">
							<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{titleToDisplay}}
						</If>
					</If>

					<If condition="'{{display_desc}}' == 'yes' && '{{dp_desc}}' == 'yes'">
						<div class="bodytext mb-2">{{description}}</div>
					</If>
				</li>


		<Footer>
			</ul>
			<Include SRC="{{NEMODULES_PATH}}ListItemCollector/network/partials/list_footer.html"/>
	</Footer>
</Grid>
</div>