<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
<Include SRC="{{./}}partials/default_header_property_template.html"/>
<div class="panel-group panel-group-control panel-group-control-right">
<Grid gridId="Grid_StructuredContent">
	<div class="panel panel-white">
		<div class="{{enable_edit_class}}" {{enable_edit_attr}}>
			<div class="panel-heading">
				<h6 class="panel-title">
					<a class="collapsed" data-toggle="collapse" href="#question-{{CurrentRecNr}}-{{strc_objID}}"><i class="icon-help position-left text-slate"></i>{{titleToDisplay}}</a>
				</h6>
			</div>
			<div class="panel-collapse collapse" id="question-{{CurrentRecNr}}-{{strc_objID}}">
				<div class="panel-body">

					<If condition="'{{display_bigImg}}' == 'yes'">
						<div class="content-group text-center">
							<If condition="'{{exist_link}}' == 'yes'">
								<a title="{{titleToAlt}}" href="{{hrefToDocOther}}" class="display-inline-block">
									<img class="img-responsive" src="{{img_big_id_src}}" alt=""/>
								</a>
							</If>
							<If condition="'{{exist_link}}' != 'yes'">
								<img class="img-responsive display-inline-block" src="{{img_big_id_src}}" alt=""/>
							</If>
						</div>
					</If>
					<If condition="'{{display_smallImg}}' == 'yes'">
						<div class="media-left">
							<If condition="'{{exist_link}}' == 'yes'">
								<a title="{{titleToAlt}}" href="{{hrefToDocOther}}" class="">
									<img class="img-responsive img-rounded media-preview" src="{{img_small_id_src}}" alt="" style="max-width: 120px"/>
								</a>
							</If>
							<If condition="'{{exist_link}}' != 'yes'">
								<img class="img-responsive img-rounded media-preview" src="{{img_small_id_src}}" alt="" style="max-width: 120px"/>
							</If>
						</div>
					</If>
					<div class="media-body">
						<If condition="'{{display_desc}}' == 'yes' && '{{dp_desc}}' == 'yes'">
							<p>{{description}}</p>
						</If>
						<If condition="'{{display_content}}' == 'yes' && '{{exist_fullcontent}}' == 'yes'">
							<p>{{fullcontent}}</p>
						</If>
						<If condition="'{{dp_labelUserDefinedLink}}' == 'yes' && '{{exist_link}}' == 'yes'">
							<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}" role="button" class="item-link">{{labelUserDefinedLink}}<i class="icon-arrow-right5"></i></a>
						</If>
					</div>
				</div>
			</div>
		</div>
	</div>
</Grid>
	<If condition="'{{block_link_show}}' == 'yes'">
		<div class="block-btn mt-10">
			<button type="button" class="text-bold btn border-slate text-slate-800 btn-flat" style="border: none">
				{{block_link_label}}
				<i class="icon-arrow-right5" aria-hidden="true"></i>
			</button>
		</div>
	</If>
</div>