<div class="testimonialsList">

<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>
<Grid gridId="Grid_StructuredContent">
	<IfEmpty>
	<Include SRC="{{./}}partials/list_empty_message_template.html"/>
	</IfEmpty>
	<Header>
		<div class="row">
		</Header>
		<div class="col-lg-4">
			<blockquote class="blockquote">
				<If condition="'{{display_desc}}' == 'yes' && '{{dp_desc}}' == 'yes'">
				<p>{{description}}</p>
				</If>
				<If condition="'{{display_title}}' == 'yes'">
				<footer>
					<If condition="'{{exist_link}}' == 'yes' && '{{linkToTitle}}' == 'yes' ">
					<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}">
						{{titleToDisplay}}
					</a>
					</If>
					<If condition="'{{exist_link}}' != 'yes' || '{{linkToTitle}}' != 'yes'">
					{{titleToDisplay}}
					</If>
				</footer>
				</If>
			</blockquote>
			<If condition="'{{dp_labelUserDefinedLink}}' == 'yes' && '{{exist_link}}' == 'yes'">
				<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}" role="button" class="btn btn-primary">{{labelUserDefinedLink}}</a>
			</If>
		</div>
		<Footer>
		</div>
	</Footer>
</Grid>
</div>