	<div class="row">
		<div class="col-md-4">
			<If condition="'{{DC_date_display}}' == 'yes' || ('{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes')">
			<div class="text-primary">
				<If condition="'{{DC_date_display}}' == 'yes'">
				{{source_creation_date}}
				</If>
				<If condition="'{{DC_date_display}}' == 'yes' && '{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
				/
				</If>
				<If condition="'{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
				{{source_creation_time}}
				</If>
			</div>
			</If>

			<Grid gridId="DocCachedInfo_{{asset_id}}">
				<Include SRC="{{./}}external_item_extended_prop.html"/>
			</Grid>
		</div>
		<div class="col-md-4">
			<If condition="'{{DC_sourceauthor_display}}' == 'yes' && '{{dp_author}}'=='yes'">
			<div><strong>{{_DC_sourceauthor_label}}:</strong> {{AuthorToDisplay}}</div>
			</If>
			<If condition="'{{DC_source_display}}' == 'yes' && '{{dp_source}}'=='yes'">
			<div class="mb-0"><strong>{{_DC_source_label}}:</strong> {{sourceToDisplay}}</div>
			</If>
		</div>
		<Grid gridId="DocCachedInfo_{{asset_id}}">
		<div class="col-md-4 mt-2">
			<Include SRC="{{./}}ci_doc_icon_type_actions.html"/>
		</div>
		</Grid>
	</div>
