<Var name="target_val">('{{hrefToDocTargetOther}}' == '_blank' ? '_blank' : '_self')</Var>
<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
<Var name="first-item">('{{CurrentRecNr}}' == '1' ? 'border-top:none;' : '')</Var>

<div class="card dropdown {{handle_editing_class}} " {{handle_editing_attr}}>
	<div class="card-header bg-white" style="background:transparent;padding-left:0; {{first-item}}" id="heading{{CID}}">
	  <h5 class="mb-0" data-toggle="collapse" data-parent=".dropdown" data-target="#collapse{{CID}}" aria-expanded="false">
		<span class="fa has-child collapsed" data-toggle="collapse" data-parent=".dropdown" data-target="#collapse{{CID}}" aria-expanded="false">
		</span>
		<a class="font-weight-bold collapsed pl-0" href="#collapse{{CID}}">
		  {{titleToDisplay}}
		</a>
	  </h5>
	</div>
	<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
		<p class="mb-2 font-weight-bold" style="margin-top:-10px;">{{abstractToDisplay}}</p>
	</If>
	<div id="collapse{{CID}}" class="colapse colapse collapse" aria-labelledby="heading{{CID}}">
		<div class="card-block pb-2 pt-0">
			<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html"/>
		</div>
	</div>
</div>
