<script>
	modules.push('scrollto');
	modules.push('enable-popover');
</script>
**********
<Grid gridId="gridToLabelsSearchResult">
	<div id="SearchResult" class="" data-scroll-to="true">
		<div class="panel panel-flat">
	        <div class="panel-heading">
		    	<div class="content-group">
			        <If condition="'{{help_show}}' == 'yes'">
						<div class="pull-right content-group">
							<a href="javascript:void(0);" class="button-icon jarviswidget-edit-btn has-popover" title="{{help_title}}"
							data-placement="bottom" data-viewport="body" data-container="body">
							<i class="fa fa-question-circle help-icon"></i>
							<div class="popover-content-holder" style="display: none;">
								{{help_description}}
							</div>
							</a>
						</div>
					</If>
		            <h5 class="panel-title">{{slogan_title}}</h5>
				</div>
				<If condition="'{{slogan_description_show}}' == 'yes'">
					<div>
						<p>{{slogan_description}}</p>
					</div>
				</If>
	        </div>
		<If condition="'{{displayFilter}}'=='yes'">
			<div class="panel-body">
				<If condition="'{{global_cache_dynamic}}'!='Y'">
					<form class="main-search" name="SearchResultModule"
							id="SearchResultModule"
							action=""
							method="post"
							onsubmit="filterSRM('{{k}}','{{kc}}','{{rp}}','{{msvSrc}}','{{objId}}','{{s_id}}');return false;">


		                <div class="input-group content-group">
		                    <div class="has-feedback has-feedback-left">
		                        <input type="text" name="search" id="filterterm" class="form-control input-xlg" value="{{termSearch}}" placeholder="{{_srcLbl_placehoder}}">
		                        <!-- <input type="text" name="search" id="filterterm" class="tx-indexedsearch-searchbox-sword sword" value="{{termSearch}}" placeholder="{{_srcLbl_placehoder}}" /> -->
		                        <div class="form-control-feedback">
		                            <i class="icon-search4 text-muted text-size-base"></i>
		                        </div>
		                    </div>

		                    <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary btn-xlg">{{_srcLbl_buton}}</button>
		                    </div>
		                </div>
		            </form>
		        </If>
		        <If condition="'{{global_cache_dynamic}}'=='Y'">
					<form class="main-search" name="SearchResultModule"
						id="SearchResultModule"
						action="{{hrefSearchResultNext}}"
						method="post"
						onsubmit="filterSRM('{{k}}','{{kc}}','{{rp}}','{{msvSrc}}','{{objId}}','{{s_id}}');return false;">


		                <div class="input-group content-group">
		                    <div class="has-feedback has-feedback-left">
		                        <input type="text" class="form-control input-xlg" name="search" id="filterterm" value="{{termSearch}}" placeholder="{{_srcLbl_placehoder}}">
		                        <div class="form-control-feedback">
		                            <i class="icon-search4 text-muted text-size-base"></i>
		                        </div>
		                    </div>

		                    <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary btn-xlg">{{_srcLbl_buton}}</button>
		                    </div>
		                </div>
		            </form>
		        </If>
			</div>
	    </If>
		</div>
		<If condition="'{{show_header_pagination}}'=='yes'">
			<Include SRC="{{./}}partials/pagination.html"/>
		</If>
		<Grid gridId="gridDataSrc">
			<IfEmpty>
				<If condition="'{{show_empty_message}}'=='yes' && '{{error_code}}'!='3'">
					{{empty_message}}
				</If>
			</IfEmpty>
			<Header>
				<Grid gridId="searchTab">
					<Header>
						    <ul class="nav nav-lg nav-tabs nav-tabs-bottom search-results-tabs">
						    	<strong>{{_narrow_results}}:</strong>
					</Header>
					<Var name="active_class">('{{tab_current}}' != ''  ? 'active' : '')</Var>
						<If condition="'{{termSearch}}' !='' ">
							<li class="{{active_class}}">
							<a class="{{tab_current}}" href="{{tab_link_server}}">
							{{tab_description}}
							</a>
							</li>
						</If>
						<If condition="'{{termSearch}}'==''">
							<a href="javascript:void(0);" >{{tab_description}}</a>
						</If>
					<Footer>
					</ul>
					</Footer>
				</Grid>			<!-- grid searchTab -->
				<div class="row">
	       			<div class="col-lg-12">
	         			<div class="panel panel-body">
							<If condition="'{{show_current_search_term}}'=='yes'">
								<p class="text-muted text-size-small">
									{{show_current_search_term_label}}
								</p>
							</If>
							<If condition="'{{show_header_info}}'=='yes'">
								<p class="text-muted text-size-small">
									{{show_header_info_label}}
								</p>
							</If>
							<hr>
			</Header>
			<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
			<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
							<div class="media content-group {{handle_editing_class}}" {{handle_editing_attr}}>
									<If condition="'{{display_image}}' =='yes' && '{{dp_image}}'=='yes'">
										<If condition="'{{makelink_image}}' =='yes'">
											<a href="{{hrefToDoc}}" class="media-left"><img src="{{srcImageToDisplay}}" class="img-responsive img-rounded media-preview" alt="" style="width: 120px; height: auto; background: #E6E6E6"></a>
										</If>
										<If condition="'{{makelink_image}}' !='yes'">
											<img src="{{srcImageToDisplay}}" class="img-responsive img-rounded media-preview" alt="" style="width: 120px; height: auto; background: #E6E6E6">
										</If>
									</If>
									<div class="media-body">
										<h6 class="media-heading"><a href="{{hrefToDoc}}" title="{{titleToAlt}}" target="{{hrefToDocTarget}}">{{titleToDisplay}}</a>
											<If condition="'{{percentage_scoring}}' !='' && '{{display_percentage_score}}'=='yes'">
												<span class="tx-indexedsearch-percent percent percent-tmpl-css">{{percentage_scoring}}%</span>
											</If>
										</h6>
										<If condition="'{{dp_abst}}' == 'yes'">
											<div class="tx-indexedsearch-descr descr">
												{{abstractToDisplay_highlight}}
											</div>
										</If>
										<If condition="'{{display_partFromFullTextSearch}}' == 'yes' && '{{partOfFullText_exist}}' == 'yes'">
											<div class="tx-indexedsearch-descr descr">
												{{partOfFullText_highlight}}
											</div>
										</If>
									</div>

							</div>
			<Footer>
					</div>
				</div>
			</div>
			<If condition="'{{show_footer_pagination}}'=='yes'">
				<Include SRC="{{./}}partials/pagination.html"/>
			</If>
			</Footer>

		</Grid>

	</div>
</Grid>
<style>
	.close.popover-close-btn{
		padding: 10px;
	}

	h3.popover-title{
		border-bottom: 1px solid #ddd;
	}
	i.help-icon {
		font-size: 18px;
		padding-top: 10px;
	}
</style>