 <If condition="('{{link_show_I}}' == '1') || ('{{link_show_II}}' == '1') || ('{{link_show_III}}' == '1')">
	   <span class="hidden-xs">
       <If condition="'{{link_show_I}}' == '1'">
         {{link_lng_I}}{{mesg_lng_II}}{{link_lng_I_c}}
       </If>
	   </span>
	   <div class="visible-xs">
	   <If condition="'{{link_show_I}}' == '1'">
		{{link_lng_I}} {{lng2_full_mesg}}{{link_lng_I_c}}
		</If>
	   </div>

	   <span class="hidden-xs">
       <If condition="'{{link_show_II}}' == '1'">
         <If condition="'{{link_show_I}}' == '1'">
         </If>
        {{link_lng_II}}{{mesg_lng_I}}{{link_lng_II_c}}
       </If>
	   </span>
	   <div class="visible-xs">
       <If condition="'{{link_show_II}}' == '1'">
         <If condition="'{{link_show_I}}' == '1'">
         </If>
        {{link_lng_II}}{{lng1_full_mesg}}{{link_lng_II_c}}
       </If>
	   </div>

       <If condition="'{{link_show_III}}' == '1'">
         <If condition="('{{link_show_I}}' == '1') || ('{{link_show_II}}' == '1')">
         </If>
        {{link_lng_III}}{{mesg_lng_III}}{{link_lng_III_c}}
       </If>
 </If>
 
