 <If condition="('{{link_show_I}}' == '1') || ('{{link_show_II}}' == '1') || ('{{link_show_III}}' == '1')">
	<li> </li>
       <If condition="'{{link_show_I}}' == '1'">
         <li>{{link_lng_I}}{{mesg_lng_I}}{{link_lng_I_c}}</li>
       </If>

       <If condition="'{{link_show_II}}' == '1'">
         <If condition="'{{link_show_I}}' == '1'">
           <li>|</li>
         </If>
         <li>{{link_lng_II}}{{mesg_lng_II}}{{link_lng_II_c}}</li>
       </If>

       <If condition="'{{link_show_III}}' == '1'">
         <If condition="('{{link_show_I}}' == '1') || ('{{link_show_II}}' == '1')">
           <li>|</li>
         </If>
         <li>{{link_lng_III}}{{mesg_lng_III}}{{link_lng_III_c}}</li>
       </If>
 </If>