<If condition="'{{ContactBlockExist}}' == 'yes'">
	<table class="w-100">
		<If condition="'{{display_organizational_contact}}' == 'yes' && '{{dp_extrasLabels_contactblock}}' == 'yes'">
			<td class="align-top pr-2" style="white-space: nowrap;">
				<strong><i class="fa fa-address-card-o" aria-hidden="true"></i> {{extrasLabels_contactblock}}</strong>
			</td>
		</If>
		<td class="w-100">
			<If condition="'{{display_organizational_contact}}' == 'yes' && '{{organizational_contact}}' != ''">
				{{organizational_contact}}
			</If>

			<If condition="'{{display_eventTel}}' == 'yes' && '{{dp_eventTel}}' == 'yes'">
				<div class="d-inline-block">
					<i class="fa fa-phone-square fa-fw"></i>
					<If condition="'{{dp_extrasLabels_eventTel}}' == 'yes'">
						{{extrasLabels_eventTel}}
					</If>
					{{eventTel}}
					<If condition=" ('{{display_eventFax}}' == 'yes' && '{{dp_eventFax}}' == 'yes') || ('{{display_eventEmail}}' == 'yes' && '{{dp_eventEmail}}' == 'yes') ">
					 |
					</If>
				</div>
			</If>


			<If condition="'{{display_eventFax}}' == 'yes' && '{{dp_eventFax}}' == 'yes'">
				<div class="d-inline-block">
					<i class="fa fa-fax fa-fw"></i>
					<If condition="'{{dp_extrasLabels_eventFax}}' != ''">
						{{extrasLabels_eventFax}}
					</If>
					{{eventFax}}
					<If condition="('{{display_eventEmail}}' == 'yes' && '{{dp_eventEmail}}' == 'yes') ">
					 |
					</If>
				</div>
			</If>
			<If condition="'{{display_eventEmail}}' == 'yes' && '{{dp_eventEmail}}' == 'yes'">
				<div class="d-inline-block">
					<i class="fa fa-envelope fa-fw"></i>
					<If condition="'{{dp_extrasLabels_eventEmail}}' == 'yes'">
						{{extrasLabels_eventEmail}}
					</If>
					<a href="mailto:{{eventEmail}}">{{eventEmail}}</a>
				</div>
			</If>
		</td>
	</table>
</If>