h1     
{
FONT-WEIGHT: bold;
FONT-SIZE: 16px; 
font-family: Verdana, Helvetica,  Arial, sans-serif;
COLOR: #3f3f3f; 
}

.pdf_header
{
position: static !important;
border-bottom: 1px solid #bb2127;
}

.pdf_header_text
{ 
text-align: left;
vertical-align: middle;
FONT-WEIGHT: bold;
FONT-SIZE: 22px; 
font-family: Verdana, Helvetica,  Arial, sans-serif;
COLOR: #009371; 
}

.pdf_footer
{
position: static !important;
border-top: 1px solid #009371;
}

.pdf_footer_text,
.pdf_footer_pager{ 
float:left;
padding-top:5px;
padding-right:2%;
padding-bottom:0;
padding-bottom:2%;
FONT-SIZE: 11px;
}

.pdf_footer_text
{
width:80%;
color:#333;
FONT-SIZE: 11px;
}

.pdf_footer_pager
{
width:11%;
text-align: right;
}

.tab_lista {
border:1px solid #cccccc;
border-collapse:collapse;
}

.tab_lista td
{
border-right: 1px solid #ddd; padding: 8px 10px;
border-bottom: 1px solid #ddd; padding: 8px 10px;
padding: 3px 4px !important;
color: #4A4A4A;
}

.tab_lista tr.even {background-color: #ffffff; border: 1px solid #ddd;}
.tab_lista tr.odd  {background-color: #f9f9f9; border: 1px solid #ddd;}

.tab_lista th     
{
FONT-WEIGHT: bold;
FONT-SIZE: 11px; 
font-family: Verdana, Helvetica,  Arial, sans-serif;
COLOR: #3f3f3f; 
vertical-align: top; 
LINE-HEIGHT: 11px;HEIGHT: 20px;
padding: 8px 4px !important;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#fafafa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#fafafa 100%); /* W3C */
border-right: 1px solid #ddd;
}

