
<div class="modal ew-bs-modal fade modal-bordered" id="ew-bs-modal" removetabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title"><span class="position-left" data-modal-icon></span><span data-modal-title>Modal title</span></h6>
				<a class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer" style="display: none;">
				<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-default btn-sm pull-right margin-left-10">Cancel</a>
			</div>
			<div class="modal-loader">
				<div class="modal-loader-icon">
					<i class="icon-spinner4 spinner"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<Include SRC="{{./}}footer_includes_session_related.html"/>