<WebBox ID="mainAlone" Type="Container" Level="0" Case="Always" Editable="False">
<!-- div id="page-header" class="page-header bg-white">
	<div id="primary-navbar" class="navbar navbar-fixed-top fixed-always navbar-inverse {{paletevalue}}">
		<div class="navbar-header">
			<Include SRC="{{./}}LogoArea/LogoArea.html"/>

		</div>
	</div>
</div -->
<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/MainContent.html"/>
		</div>
	</div>
</div>

<!-- div class="navbar navbar-inverse overflow-hidden footer bg-grey-700" id="footer">
	<div class="row">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<div class="navbar-text text-center text-right-md full-width">
				<Include SRC="{{./}}CopyrightArea/CopyrightArea.html"/>
			</div>
		</div>
	</div>
</div -->

<Include SRC="{{./}}footer_includes.html"/>
</WebBox>