<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>

<div class="{{enable_edit_class}}" {{enable_edit_attr}}>
    <div class="panel-heading">
    	<h6 class="panel-title">
    		<a class="collapsed" data-toggle="collapse" href="#question-{{CID}}-{{idstemp}}--{{keyGroup}}"><i class="icon-help position-left text-slate"></i>{{titleToDisplay}}</a>
		</h6>
	</div>
<!-- 	{{DC_abstract_display}}***DC_abstract_display<br>
	{{dp_abst}}***dp_abst<br>
	{{DC_content_display}}***DC_content_display<br>
	{{dp_content}}***dp_content<br> -->
	<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes' || '{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
		<div class="panel-collapse collapse" id="question-{{CID}}-{{idstemp}}--{{keyGroup}}">
			<div class="panel-body pb-0">
				<If condition="'{{DC_thumbnail_display}}' == 'yes' && {{dp_image_ID}}>0">
					<Grid gridId="DocCachedInfo_{{dp_image_ID}}">
					<div class="media-left">
					<If condition="'{{linkToimage}}' == 'yes'">
					<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}" class="">
						<img class="img-responsive img-rounded media-preview" src="{{link_url}}" alt="" style="max-width: 120px"/>
					</a>
					</If>
					<If condition="'{{linkToimage}}' != 'yes'">
						<img class="img-responsive img-rounded media-preview" src="{{link_url}}" alt="" style="max-width: 120px" />
					</If>
					</div>
					</Grid>
				</If>

					<div class="media-body">
					<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
						<p>{{abstractToDisplay}}</p>
					</If>
					<If condition="'{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
						<p><Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html" /></p>
					</If>
					<If condition="'{{dp_labelUserDefinedLink}}' == 'yes'">
					    <div class="panel-footer panel-footer-transparent mt-10">
							<a href="{{hrefToDocOther}}" role="button" class="heading-text pull-left">{{labelUserDefinedLink}} <i class="icon-arrow-right5"></i></a>
						</div>
					</If>
					</div>
			</div>
			<If condition="'{{DC_date_display}}' == 'yes' || '{{DC_time_display}}' == 'yes' || '{{DC_sourceauthor_display}}' == 'yes' || '{{DC_source_display}}' == 'yes'">
			<div class="panel-footer panel-footer-transparent">
				<div class="heading-elements" style="display: inline-block!important;">
					<If condition="'{{DC_date_display}}' == 'yes'">
						<span class="text-muted heading-text">{{source_creation_date}}</span>
					</If>
					<If condition="'{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
						<span class="text-muted heading-text">{{source_creation_time}}</span>
					</If>
					<If condition="'{{DC_sourceauthor_display}}' == 'yes' && '{{dp_author}}'=='yes'">
						<span class="text-muted heading-text">{{_DC_sourceauthor_label}}: {{AuthorToDisplay}}</span>
					</If>
					<If condition="'{{DC_source_display}}' == 'yes' && '{{dp_source}}'=='yes'">
						<span class="text-muted heading-text">{{_DC_source_label}}: {{sourceToDisplay}}</span>
					</If>
				</div>
			</div>
			</If>
		</div>
	</If>
</div>