
<Grid gridId="gridToFilterSearchBlock">
	<Var name="activeSimpleSearch">('{{showSearchOption_term}}' == 'simpleSearch' ? 'in' : '')</Var>
	<Var name="activeAdvancedSearch">('{{showSearchOption_term}}' == 'advancedSearch' ? 'in' : '')</Var>

	<div class="panel panel-flat bg-grey-light collapse {{activeSimpleSearch}}"  id="simpleSearch_{{idstemp}}">
		<Include SRC="{{./}}simpleSearchForm.html"/>
	</div>
	<div class="panel panel-flat bg-grey-light collapse {{activeAdvancedSearch}}" id="advancedSearch_{{idstemp}}">
		<Include SRC="{{./}}advancedSearchForm.html"/>

	</div>


</Grid>