<div class="allicons">
	<If condition="'{{display_preview}}' != 'no'">
		<If condition="'{{allowed_preview}}' == 'yes'">
		<a  title="{{_DA_preview_iconlabel}}"  data-title="{{titleToAlt}}"
			data-key="{{identifier_type}}" data-width="{{dt_width}}" data-height="{{dt_height}}" data-id="{{CID_REF}}"
			data-url="{{identifier_key}}" href="{{stream_url}}"
			class="pull-right text-danger ic_pos view-{{ico_type}}">
	        <If condition="'{{extension}}' == 'link-ref-play'">
			<i class="fa fa-fw fa-play item-action-icon"></i>
			</If>
	        <If condition="'{{extension}}' == 'ref' || '{{extension}}' == 'link-ref'">
			<i class="fa fa-fw fa-external-link item-action-icon"></i>
			</If>
			<If condition="'{{extension}}' == 'pdf'">
			<i class="fa fa-fw fa-external-link-square item-action-icon"></i>
			</If>
			<If condition="'{{extension}}' == 'mp4' || '{{extension}}' == 'mp3'">
				<i class="fa fa-fw fa-play item-action-icon"></i>
			</If>
			<If condition="'{{extension}}' == 'html'">
				<i class="fa fa-fw fa-external-link item-action-icon"></i>
			</If>
			<If condition="'{{ico_type}}' == 'image'">
				<i class="fa fa-fw fa-picture-o item-action-icon"></i>
			</If>
		</a>
		</If>


		<If condition="'{{allowed_preview}}' == 'no'">
		<a  title="{{_DA_previewnotallowed_iconlabel}}"  data-title="{{titleToAlt}}" data-key="{{identifier_type}}"
			class="pull-right ic_pos" data-id="{{CID}}" data-url="{{identifier_key}}" href="javascript:;">
				<i class="fa fa-fw fa fa-external-link disabled item-action-icon" ></i>
		</a>
		</If>
	</If>
	<If condition="'{{display_info}}' != 'no'">
	    <Include SRC="{{./}}ci_icon_more_info.html"/>
	</If>
	<If condition="'{{display_download}}' != 'no'">
		<a class="pull-right ic_pos download-item" data-id="{{CID}}" href="{{link_url}}" target="_blank">
			<If condition="'{{allowed_download}}' == 'no'">
				<i class="fa fa-fw fa-download disabled download-item mr-2 item-action-icon" data-id="{{CID}}"  title="{{_DA_downloadunavailable_iconlabel}}"></i>
			</If>
			<If condition="'{{allowed_download}}' == 'yes'">
				<i class="fa fa-fw fa-download item-action-icon"  title="{{_DA_download_iconlabel}}"></i>
			</If>
		</a>
	</If>
</div>