<a class="pull-right ic_pos" data-placement="left"  title="{{_DA_info_iconlabel}}"
					data-title="{{_DA_info_iconlabel}}"  data-original-title="{{_DA_info_iconlabel}}"

					data-viewport="body"
					data-container="body"
					data-selector="true"
					data-bs-modal="true"
					data-modal-style="compact"
					data-modal-footer="true"
					href="javascript:void(0);">

	<div class="modal-content-holder">
		<div class="popover-content_{{asset_id}} ">
					<address class="adrnopadding">
			<Grid gridId="DocCachedInfo_{{asset_id}}">
				<dl class="dl-horizontal inverted">
					<dt>{{_DA_filename_label}}:</dt>
					<dd><span class="elipsis" style="width:100%; display: inline-block;">{{file_name_cached}}</span></dd>
					<dt>{{_DA_mimetype_label}}:</dt>
					<dd>{{mimetype}}</dd>
					<dt>{{_DA_filesize_label}}:</dt>
					<dd>{{file_size}}</dd>
					<If condition="'{{ico_type}}' == 'image'">
					<dt>{{_DA_dimension_label}}:</dt>
					<dd>{{file_width}} X {{file_height}} [px]</dd>
					</If>
					<If condition="'{{ico_type}}' == 'audio' || '{{ico_type}}' == 'video'">
					<dt>{{_DA_duration_label}}:</dt>
					<dd>{{file_duration}} [sec.]</dd>
					</If>
				</dl>
			</Grid>
		</div>
	</div>
	<i class="fa fa-fw fa-info-circle item-action-icon"></i>
</a>