								<If condition="'{{DA_filename_display}}' == 'yes'">
								<div>
									<small><strong>{{_DA_filename_label}}: {{file_name_cached}}</strong></small>
								</div>
								</If>
								<If condition="'{{DA_mimetype_display}}' == 'yes'">
								<div class="mb-1">
									<strong>{{_DA_mimetype_label}}:</strong> {{mimetype}}
								</div>
								</If>
								<If condition="'{{DA_filesize_display}}' == 'yes'">
								<div class="mb-0">
									<strong>{{_DA_filesize_label}}:&nbsp</strong>{{file_size}}
								</div>
								</If>
								<If condition="'{{DA_duration_display}}' == 'yes' && ('{{ico_type}}'=='media' || '{{ico_type}}'=='audio')">
								<div>
									<small><strong>{{_DA_duration_label}}: {{file_duration}}</strong></small>
								</div>
								</If>
								<If condition="'{{DA_dimension_display}}' == 'yes' && ('{{ico_type}}'=='image')">
								<div class="mb-0">
									<strong>{{_DA_dimension_label}} (px):</strong> {{file_width}} X {{file_height}}
								</div>
								</If>