<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>

<div class="{{enable_edit_class}}" {{enable_edit_attr}}>
    <div class="panel-heading">
    	<h6 class="panel-title">
    		<a class="collapsed" data-toggle="collapse" href="#question-{{CurrentRecNr}}-{{idstemp}}"><i class="icon-help position-left text-slate"></i>{{titleToDisplay}}</a>
		</h6>
	</div>
<!-- 	{{DC_abstract_display}}***DC_abstract_display<br>
	{{dp_abst}}***dp_abst<br>
	{{DC_content_display}}***DC_content_display<br>
	{{dp_content}}***dp_content<br> -->
	<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes' || '{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
		<div class="panel-collapse collapse" id="question-{{CurrentRecNr}}-{{idstemp}}">	
			<div class="panel-body">
				<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
					<p>{{abstractToDisplay}}</p>
				</If>
				<If condition="'{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
					<p><Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html" /></p>
				</If>
			</div>
		</div>
	</If>
</div>