<If condition="'{{extension}}' == 'link-ref-play'">
	<i class="icon-file-video mt-5"></i>
</If>
<If condition="'{{extension}}' == 'pdf'">
	<i class="icon-file-pdf mt-5"></i>
</If>
<If condition="'{{extension}}' == 'mp4'">
	<i class="icon-file-video mt-5"></i>
</If>
<If condition="'{{extension}}' == 'mp3'">
	<i class="icon-file-play mt-5"></i>
</If>

<If condition="'{{extension}}' == 'docx'">
	<i class="icon-file-word mt-5"></i>
</If>
<If condition="'{{extension}}' == 'xlsx' || '{{extension}}' == 'xls'">
	<i class="icon-file-excel mt-5"></i>
</If>
<If condition="'{{extension}}' == 'pptx'">
	<i class="icon-file-presentation mt-5"></i>
</If>
<If condition="'{{ico_type}}' == 'image'">
	<i class=" icon-file-picture mt-5"></i>
</If>