<Grid gridId="itemsPerPageGrid">
	<Header>
	<div class="col-sm-3 col-xs-12 pull-right">
		<div class="dropdown display-inline-block pull-right" style="width:60px">
			<button aria-expanded="false" aria-haspopup="true" class="selectboxit-btn select-category" data-toggle="dropdown" id="dropdownMenuButton" type="button"  style="width: 100%; padding: initial;">
				<span class="filterName">
					{{rp}} <i class="icon-arrow-down22"></i>
				</span>
			</button>
			<ul aria-labelledby="dropdownMenuButton" class="dropdown-menu filterDD" style="margin-top: 0; animation-duration: 0.01s; min-width: 60px!important;">
	</Header>
				<Var name="filterSel">('{{rp}}'=='{{id}}' ? 'active' : '')</Var>
				<li class="{{filterSel}}">
				<a class="dropdown-item pl-15 text-default {{filterSel}}" data-key="{{rp}}"
					<If condition="'{{global_cache_dynamic}}'=='Y'">
						href="{{hrefSearchResultNext}}?tid={{tid}}&ser={{objId}}&rpp={{BlockNavNr}}&msv={{msvSrc}}"
					</If>
					<If condition="'{{global_cache_dynamic}}'!='Y'">
						 href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp=1;rp={{id}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')"
					</If>
					>{{label}}
				</a>
				</li>
	<Footer>
			</ul>
		</div>
	</div>
	</Footer>
</Grid>