<Grid gridId="gridToLabelsListCollector">

<If condition="'{{show_footer}}'=='yes'">
	<Var name="col_class">( '{{show_footer_info}}'=='yes' || '{{show_footer_page_length}}'=='yes' ? 'col-4' : 'col-12' )</Var>
	<div class="dataTables_paginate paging_simple_numbers">
		<ul class="pagination pagination-flat">

			<If condition="'{{global_cache_dynamic}}'=='Y'">
				<If condition="'{{previewsPage}}'!=''">
					<li>
						<a title="{{_previewsPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{previewsPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="previous">
							&larr;
						</a>
					</li>
				</If>
				<If condition="'{{previewsPage}}'==''">
					<li class="disabled">
						<a title="{{_previewsPage}}" href="javascript:void(0)" class="previous">
							&larr;
						</a>
					</li>
				</If>
				<NavTpl navID="gridDataSrc" blNoToDisplay="6" stepBack="5">
					<Header>
					</Header>
					<Var name="active_class">('{{selClass}}' != ''  ? 'current' : '')</Var>
					<If condition="'{{BlockNavNr}}'=='1'">
						<li class="pages-start {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'=='{{TotPage}}'">
						<li class="pages-end {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'>'1' && '{{BlockNavNr}}'<'{{TotPage}}'">
						<li class="{{active_class}}">
					</If>
					<a class="{{selClass}} paginate_button {{active_class}}" title="{{_Page}} {{BlockNavNr}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{BlockNavNr}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')">
						{{BlockNavNr}}
					</a>
					</li>
					<Footer>
					</Footer>
				</NavTpl>
				<If condition="'{{nextPage}}'!=''">
					<li>
						<a title="{{_nextPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{nextPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="next">
							&rarr;
						</a>
					</li>
				</If>
				<If condition="'{{nextPage}}'==''">
					<li class="disabled">
						<a title="{{_nextPage}}" href="javascript:void(0);" class="next">
							&rarr;
						</a>
					</li>
				</If>
			</If>

			<If condition="'{{global_cache_dynamic}}'!='Y'">
				<If condition="'{{previewsPage}}'!=''">
				<li>
					<a title="{{_previewsPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{previewsPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="previous">
						&larr;
					</a>
				</li>
				</If>
				<If condition="'{{previewsPage}}'==''">
				<li class="disabled">
					<a title="{{_previewsPage}}" href="javascript:void(0)" class="previous">
						&larr;
					</a>
				</li>
				</If>
				<NavTpl navID="gridDataSrc" blNoToDisplay="6" stepBack="5">
					<Header>
					</Header>
					<Var name="active_class">('{{selClass}}' != ''  ? 'current' : '')</Var>
					<If condition="'{{BlockNavNr}}'=='1'">
						<li class="pages-start {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'=='{{TotPage}}'">
						<li class="pages-end {{active_class}}">
					</If>
					<If condition="'{{BlockNavNr}}'>'1' && '{{BlockNavNr}}'<'{{TotPage}}'">
						<li class="{{active_class}}">
					</If>
					<a class="{{selClass}} paginate_button {{active_class}}" title="{{_Page}} {{BlockNavNr}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{BlockNavNr}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')">
						{{BlockNavNr}}
					</a>
					</li>
					<Footer>
					</Footer>
				</NavTpl>
				<If condition="'{{nextPage}}'!=''">
				<li>
					<a title="{{_nextPage}}" href="JavaScript:GoTo('thisPage?event=none.srm(k={{k}};kc={{kc}};rpp={{nextPage}};rp={{recPage}};msv={{msvSrc}};ser={{objId}};s_id={{s_id}};sns={{sns}};osns={{osns}})')" class="next">
						&rarr;
					</a>
				</li>
				</If>
				<If condition="'{{nextPage}}'==''">
				<li class="disabled">
					<a title="{{_nextPage}}" href="javascript:void(0);" class="next">
						&rarr;
					</a>
				</li>
				</If>
			</If>
		</ul>
	</div>
</If>