<form name="simpleSearchFilterForm_{{idstemp}}" id="simpleSearchFilterForm_{{idstemp}}" action="javascript:simpleFilterForm('{{idstemp}}','{{objId}}','simpleSearch');" class="validate padding-0 ml-5 mr-5" role="form" method="post">
	<input type="hidden" name="showSearchOption" valid="0,0,0,0,0,0" etiketa="showSearchOption" id="simpleSearchOption_{{idstemp}}" value="{{showSearchOption_term}}">
	<input type="hidden" name="msv" valid="0,0,0,0,0,0" etiketa="msv" value="{{msvLst}}">
	<div class="panel-heading">
		<h5 class="panel-title text-default">{{simpleAdv_headline_simple}}</h5>
		<div class="heading-elements">
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<If condition="'{{filter_enabled_fulltext}}' == 'yes'">
				<div class="col-md-12">
						<input type="text" class="form-control" placeholder="{{filter_label_fulltext}}" name="flt_dc_fulltext" value="{{flt_dc_fulltext_term}}"
							valid="0,0,0,0,0,0" etiketa="flt_dc_fulltext">
						<div class="form-control-feedback">
							<i class="icon-search4 text-size-base text-muted"></i>
						</div>
				</div>
			</If>
		</div>
	</div>
	<div class="panel-footer">
		<div class="heading-elements">
			<div class="heading-btn pull-left">
				<button type="submit" class="btn btn-default" id="simpleSearch_{{idstemp}}">
					{{srcLbl_buton}}
				</button>
				<button type="button" class="btn btn-default" onclick="javascript:form_clearAll('{{idstemp}}','{{objId}}','simpleSearch');">
					{{srcLbl_resetbtn}}
				</button>
			</div>
			<a data-target="#advancedSearch_{{idstemp}},#simpleSearch_{{idstemp}}"
				href="javascript:;"
				class="collapse-toggle-label collapsed heading-text pull-right" data-toggle="collapse"
				onclick="javascript:changeTextValue('advancedSearch','{{idstemp}}','{{objId}}');">
				{{simpleAdv_label_advance}}
			</a>
		</div>
	</div>
</form>