		<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
		<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
		<Var name="hasImg">('{{DC_thumbnail_display}}' == 'yes' && {{dp_image_ID}}>0 ? 'col-md-9' : 'col-md-12')</Var>
		<div class="row {{enable_edit_class}}" {{enable_edit_attr}}>
			<If condition="'{{DC_thumbnail_display}}' == 'yes' && {{dp_image_ID}}>0">
			<div class="col-md-3">
				<Grid gridId="DocCachedInfo_{{dp_image_ID}}">
					<If condition="'{{linkToimage}}' == 'yes'">
					<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
						<img class="d-flex mr-3 img-fluid" src="{{link_url}}" alt="{{titleToAlt}}">
					</a>
					</If>
					<If condition="'{{linkToimage}}' != 'yes'">
					<img class="d-flex mr-3 img-fluid" src="{{link_url}}" alt="{{titleToAlt}}">
					</If>
				</Grid>
			</div>
			</If>




			<div class="{{hasImg}}">
				<h5 style="font-weight:bold;">
				<If condition="'{{linkToTitle}}' == 'yes'">
				<a  title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
					{{titleToDisplay}}
				</a>
				</If>
				<If condition="'{{linkToTitle}}' != 'yes'">
				{{titleToDisplay}}
				</If>
				</h4>
				</h5>

				<Include SRC="{{./}}components/display_kw_items.html"/>


				<If condition="'{{DC_date_display}}' == 'yes' || ('{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes')">
				<div class="card-date clearfix mb-2 text-primary">
					<If condition="'{{DC_date_display}}' == 'yes'">
					<div class="d-inline-block">{{source_creation_date}}</div>
					</If>
					<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
					/
					</If>
					<If condition="'{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
					<div class="d-inline-block">{{source_creation_time}}</div>
					</If>
				</div>
				</If>
				<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
				<div class="card-text mb-0">{{abstractToDisplay}}</div>
				</If>
				<If condition="'{{DC_sourceauthor_display}}' == 'yes' && '{{dp_author}}'=='yes'">
				<div class="mb-0"><strong>{{_DC_sourceauthor_label}}:</strong> {{AuthorToDisplay}}</div>
				</If>
				<If condition="'{{DC_source_display}}' == 'yes' && '{{dp_source}}'=='yes'">
				<div class="mb-2"><strong>{{_DC_source_label}}:</strong> {{sourceToDisplay}}</div>
				</If>
				<If condition="'{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
				<div class="mb-2">
					<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html" />
				</div>
				</If>
				<If condition="'{{dp_labelUserDefinedLink}}' == 'yes'">
				<a href="{{hrefToDocOther}}" role="button" class="btn btn-sm btn-primary">{{labelUserDefinedLink}}</a>
				</If>
			</div>
		</div>