
	<form name="simpleFilterForm_{{idstemp}}" id="simpleFilterForm_{{idstemp}}" action="javascript:simpleFilterForm('{{idstemp}}','{{objId}}');" class="validate padding-0" role="form" method="post">
		<div class="row">
			<Grid gridId="gridToFilterSearchBlock">
	        <!-- ********* SEARCH ********* -->
	        	<If condition="'{{filter_enabled_fulltext}}' == 'yes'">
			        <div class="col-md-2 col-sm-4 col-xs-12">
			           <div class="has-feedback has-feedback-left">
			                <input type="text" class="form-control" placeholder="{{filter_label_fulltext}}" name="flt_dc_fulltext" value="{{flt_dc_fulltext_term}}"
			                	valid="0,0,0,0,0,0" etiketa="flt_dc_fulltext">
			                <div class="form-control-feedback">
			                    <i class="icon-search4 text-size-base text-muted"></i>
			                </div>
			            </div>
			        </div>
		     	</If>

				<If condition="'{{filter_enabled_dtrange}}' == 'yes'">
					<div class="col-md-2 col-sm-4 col-xs-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-calendar22"></i></span>
							<input class="form-control datepicker datefrom-filter" name="flt_dtrange_from" value="{{flt_dtrange_from_term}}"
								data-datepicker-max="#picker-to-{{idstemp}}" id="picker-from-{{idstemp}}" valid="0,0,0,0,0,0"
								etiketa="flt_dtrange_from" name_post="flt_dtrange_from" placeholder="{{filter_labelfrom_dtrange}}" type="text">
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-calendar22"></i></span>
							<input class="form-control datepicker dateto-filter" name="flt_dtrange_to" value="{{flt_dtrange_to_term}}"
							data-datepicker-min="#picker-from-{{idstemp}}" id="picker-to-{{idstemp}}"
							valid="0,0,0,0,0,0" etiketa="flt_dtrange_to" name_post="flt_dtrange_to" placeholder="{{filter_labelto_dtrange}}" type="text">
						</div>
					</div>
				</If>
				
				<Grid gridId="gridConfKwBlockToFilter">
				<Header>
				</Header>
					<Grid gridId="gridKwBlockToFilter_{{fid}}">
					<Header>
						<div class="col-md-2 col-sm-4 col-xs-12">
							<label class="select"  style="width: 100%;">
								<Var name="filterIsActiveLabel">('{{filterInFamilyEnabled}}'!='yes' ? '	{{fname}}' : '{{filterSelectedTermWithParents}}')</Var>
								<select class="selectboxit-btn select-category" name="flt_kw_{{fid}}"
									valid="0,0,0,0,0,0" etiketa="flt_kw_{{fid}}"  style="width: 100%;">
									<option value="">{{filterIsActiveLabel}} (All)</option>
					</Header>
									<Var name="sel">('{{filterIsActive}}' == 'yes' ? 'selected': '')</Var>
									<option value="{{fid}}_{{kid}}" {{sel}}>{{kwname}}
										<If condition="'{{show_kw_nr_relation}}'=='yes'">
										({{nrOfCiRelated}})
										</If>
									</option>
					<Footer>
								</select><i></i>
							</label>
						</div>
					</Footer>
					</Grid>
				<Footer>
				</Footer>
				</Grid>
	        
	        <div class="col-md-2 col-sm-4 col-xs-12">
	            <div class="filterButtons">
	            	<button type="submit" class="btn btn-default mr-15" id="submitEF_{{EF_id}}">
	            		{{srcLbl_buton}}
	            	</button>
            		<button type="button" class="btn btn-default" onclick="javascript:form_clearAll('{{idstemp}}','{{objId}}');">
            			{{srcLbl_allbtn}}
            		</button>
	            </div>
	        </div>
			</Grid>
		</div>
	</form>




<script type="text/javascript">
     modules.push('datepicker');
</script>

<style>
	.dropdown:not(.open) .dropdown-menu:not(.animated) {
    -webkit-animation-duration: 0.2s;
    animation-duration: .2s;
}
</style>