<!doctype html>
<html>
<head>
	<meta name="msapplication-config" content="browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
	<!-- Chooses the latest browser -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<Include SRC="{{./}}MainContainer/ExternalTagsArea/ExternalTagsArea.html"/>

<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="include_css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="include_css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="include_css/core.css" rel="stylesheet" type="text/css">
<link href="include_css/components.css" rel="stylesheet" type="text/css">
<link href="include_css/colors.css" rel="stylesheet" type="text/css">
<link href="include_css/animate.min.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<WebBox ID="HeadContainer" Type="Container" Level="0" Case="Always" Editable="False">
<Include SRC="{{./}}MetatagTemplate/MetatagTemplate.html"/>
</head>
<body class="navbar-top navbar-bottom navbar-top-always headroom headroom--top headroom--bottom {{maincategorycolor}}">
</WebBox>