	
	<Grid gridId="categorizationGrid">
		<If condition="'{{show_category_label}}' == 'yes'">
			<div>{{categoryName}}</div>
		</If>
		<Grid gridId="categorizationItemsGrid_{{categoryId}}">
			<Grid gridId="itemPropDataGrid_{{categoryId}}_{{itemId}}">
				<div>
					<If condition="'{{makeLink_title}}' == 'yes'">
						<a id="register-trigger" title="{{titleToAlt}}" href="{{hrefTo}}" '{{modalParams}}'>
							<If condition="'{{display_itemIcon}}' == 'yes' && '{{showManualCiIcon}}' != 'no'">
				                <If condition="'{{showManualCiIcon}}' == 'icon'">
				                	<i class="{{manualCiIcon}}"></i> 
				            	</If>
				                <If condition="'{{showManualCiIcon}}' == 'image' && '{{manualCiImage}}' > 0 ">
				                	<img src="{{manualCiImageScr}}" class="img-circle img-xs" alt="">
				            	</If>
			            	</If>
			            	<If condition="'{{display_itemLabel}}' == 'yes' && '{{hasCiLabel}}' == 'yes'">
			                	{{manualCiLabel}}
			                </If> 
			            	<If condition="'{{hasCiLabel}}' != 'yes'">
			                	{{titleToDisplay}}
			                </If> 
			            </a>
		            </If>
		            <If condition="'{{makeLink_title}}' != 'yes'">
		            	<div id="register-trigger">
		            		<If condition="'{{display_itemIcon}}' == 'yes' && '{{showManualCiIcon}}' != 'no'">
				                <If condition="'{{showManualCiIcon}}' == 'icon'">
				                	<i class="{{manualCiIcon}}"></i> 
				            	</If>
				                <If condition="'{{showManualCiIcon}}' == 'image' && '{{manualCiImage}}' > 0 ">
				                	<img src="{{manualCiImageScr}}" class="img-circle img-xs" alt="">
				            	</If>
			            	</If>
			            	<If condition="'{{display_itemLabel}}' == 'yes' && '{{hasCiLabel}}' == 'yes'">
			                	{{manualCiLabel}}
			                </If> 
			            	<If condition="'{{hasCiLabel}}' != 'yes'">
			                	{{titleToDisplay}}
			                </If>		            		
		            	</div>
		            </If>
				</div>
			</Grid>
		<Footer>
		<If condition="'{{show_category_separator}}' == 'yes'">
			<div class="divider"></div>
		</If>
		</Footer>
		</Grid>
	</Grid>