<div class="modal inmodal ew-bs-modal" id="ew-bs-modal" removetabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInDown">
			<div class="modal-header">
				<h4 class="modal-title">Modal title</h4>
				<a class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer" style="display: none;">
				<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-default btn-sm pull-right margin-left-10">Cancel</a>
			</div>
			<div class="modal-loader">
				<div class="modal-loader-icon">
					<i class="fa fa-fw fa-2x fa-spin fa-cog"></i>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Core JS files -->
<script type="text/javascript" src="{{APP_URL}}include_js/libs.min.js?v=1.2"></script>
<script type="text/javascript" src="{{APP_URL}}include_js/drilldown.js?v=1.2"></script>
<script type="text/javascript" src="{{APP_URL}}include_js/main.js?v=1.2"></script>


<Include SRC="{{masterMainFolder}}footer_includes_session_related.html"/>