<WebBox ID="mainAlone" Type="Container" Level="0" Case="Always" Editable="False">
<div id="container" class="clearfix">
	<WebBox ID="HeaderContainer" Type="HiddenContainer" Case="Always" Tag="header" Editable="False" Container="GlobalContainer">
	<header id="header">
		<div id="headerWrapper">
			<div class="container">
				<Include SRC="{{./}}LogoArea/LogoArea.html"/>
			</div>
		</div>
	</header>
	</WebBox>
	<WebBox ID="MainContainer" Type="RegionContainer" Tag="section" TagId="content" Case="Always" Editable="False" Container="GlobalContainer">
				<If condition="'{{masterZoneSpecialization}}' == 'intranet'">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/MainContent.html"/>
							</div>
						</div>
					</div>
				</If>
				<Include SRC="{{./}}MiddleBottomArea/MiddleBottomArea.html"/>
	<div id="stopper"></div>
	</WebBox>
	<section id="footer">
		<WebBox ID="FooterContainer" Type="RegionContainer" Tag="footer" TagClass="" Case="Always" Editable="False" Container="GlobalContainer">
			<div class="footer bg-black">
				<div class="container">
					<div class="clearfix">
						<Include SRC="{{./}}CopyrightArea/CopyrightArea.html"/>
					</div>
				</div>
			</div>
		</WebBox>
	</section>
</div>
<Include SRC="{{./}}footer_includes.html"/>
</WebBox>