
<Grid gridId="Grid_AuthorNav_{{objNem}}">
<Header>
		<ul class="list-inline no-margin">
</Header>
	<If condition="'{{nivel}}' == '1'">
	<li>
		<a class="navbar-link"  href="{{link}}">{{label}}</a>
	</li>
	</If>
<Footer>

		</ul>
</Footer>
</Grid>

<!-- 			<div class="navbar-text text-center text-left-md">
				<ul class="list-inline no-margin">
					<li><a class="navbar-link" href="#">About Portal</a></li>
					<li><a class="navbar-link" href="#">Terms & Conditions</a></li>
					<li><a class="navbar-link" href="#">Contact</a></li>
				</ul>
			</div> -->