<Grid gridId="Grid_AuthorNav_{{objNem}}">
	<Header>
		<div class="navbar-collapse collapse navbar-navigation" id="navbar-second-toggle">
			<ul class="nav navbar-nav navbar-nav-material">
				<Var name="home_active_class">('{{level_1}}' == '0' ? 'active' : '')</Var>
				<li class="{{home_active_class}}"><a href="javascript:GoTo('thisPage?event=none.ch_state(k={{level_0}},0,0,0,0)')">Home</a></li>
			</Header>
			<Var name="has_child">('{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child' ? 'yes' : '')</Var>
			<Var name="active_class">('{{id1}}' == '{{level_1}}' ? 'active' : '')</Var>
			<Var name="last_child">('{{AllRecs}}' == '{{CurrentRecNr}}' ? 'last-child' : '')</Var>
			<li class="dropdown mega-menu mega-menu-wide {{active_class}} {{has_child}} {{last_child}}">
				<If condition="'{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child'">
				<a href="#" class="dropdown-toggle  {{active_class}}" data-toggle="dropdown">{{label}}
					<span class="caret"></span>
				</a>
				</If>
				<If condition="'{{nr_child}}' == '0' || '{{nr_child}}' == 'nr_child'">
				<a href="{{link}}" class="">
					{{label}}
				</a>
				</If>
				<Grid gridId="Grid_AuthorNav_Nivel2{{keyIden}}">
					<Header>
						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-body">
								<div class="row">
								</Header>
								<div class="col-lg-4 col-md-6">
									<ul class="menu-list">
										<Var name="active_class">('{{id1}}' == '{{level_1}}' && '{{id2}}' == '{{level_2}}' && '{{level_3}}' == '0' ? 'active' : '')</Var>
										<Var name="active_class_ul">('{{id1}}' == '{{level_1}}' && '{{id2}}' == '{{level_2}}' && '{{level_3}}' != '0' ? 'active-ul' : '')</Var>
										<li class="{{active_class}}">
											<Var name="has_child">('{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child' ? 'child' : '')</Var>
											<Var name="last_child">('{{AllRecs}}' == '({{CurrentRecNr}})-1' || '{{AllRecs}}' == '{{CurrentRecNr}}' ? 'last-child' : '')</Var>
											<a class="{{class_style}} {{active_class_ul}}" href="{{link}}"><i class="icon-stack2"></i> {{label}}</a>
											<Grid gridId="Grid_AuthorNav_Nivel3{{keyIden}}">
												<Header>
													<ul id="level-3-{{id1}}-{{id2}}" class="level-3">
													</Header>
													<Var name="active_class">('{{id1}}' == '{{level_1}}' && '{{id2}}' == '{{level_2}}' && '{{id3}}' == '{{level_3}}' ? 'active' : '')</Var>
													<li class="nav-item-l3 {{active_class}}">
														<a class="{{class_style}}" href="{{link}}">{{label}}</a>
													</li>
													<Footer>
													</ul>
												</Footer>
											</Grid>
										</li>
									</ul>
								</div>
								<Footer>
									<!-- Include SRC="{{./}}MainNavigationPromoArea/MainNavigationPromoArea.html"/ -->
								</div>
							</div>
						</div>
					</Footer>
				</Grid>
			</li>
			<Footer>
			</ul>
		</div>
	</Footer>
</Grid>