<Grid gridId="Grid_AuthorNav_{{objNem}}">
   <Header>
	<ul class="nav">
   </Header>
			<Var name="level_1_active">('{{id1}}' == '{{level_1}}' ? 'active' : '')</Var>
			<li class="{{level_1_active}}">
				<If condition="'{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child'">
				<span class="fa arrow"></span>
				</If>
				<a class="{{class_style}}" href="{{link}}" title="{{ci_title}}">
					<Var name="level_1_icon">('{{boostrap_ico}}' != '' ? '{{boostrap_ico}}' : '')</Var>
					<i class="fa nav-icon {{level_1_icon}}"></i> <span class="nav-label">{{label}} </span>
				</a>
   <Footer>
</ul>
   </Footer>

</Grid>