



	<div class="content-group">
	<div class="media-list trainings-list mb-20">
		<div class="media list-item mb-20">
			<div class="media-left">
				<a href="?page=trainingsubcategory" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md learning-item-icon-bg"><i class=" icon-headset icon-2x"></i></a>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-6">
						<h6 class="media-heading text-semibold learning-item-title">
							<a href="?page=trainingsubcategory" class="text-default">Customer Care Trainings</a>
						</h6>
			    		<span class="display-block">
			            	Nesciunt perspiciatis laboriosam explicabo obcaecati voluptas. Interested especially do impression...
			            </span>
					</div>
					<div class="col-md-6 hidden-xs">
						<div class="row">
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Bank Reconciliation
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Electronic Bank transfer
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Lorem ipsum dolor sit amet
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Consectetur adipisicing elit
		</a>
	</div>
</div>					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="media list-item mb-20">
			<div class="media-left">
				<a href="?page=trainingsubcategory" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md  learning-item-icon-bg"><i class="icon-statistics icon-2x"></i></a>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-6">
						<h6 class="media-heading text-semibold learning-item-title">
							<a href="?page=trainingsubcategory" class="text-default">Finance Trainings</a>
						</h6>
			    		<span class="display-block">
			            	Nesciunt perspiciatis laboriosam explicabo obcaecati voluptas. Interested especially do impression...
			            </span>
					</div>
					<div class="col-md-6 hidden-xs">
						<div class="row">
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Bank Reconciliation
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Electronic Bank transfer
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Lorem ipsum dolor sit amet
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Consectetur adipisicing elit
		</a>
	</div>
</div>					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="media list-item mb-20">
			<div class="media-left">
				<a href="?page=trainingsubcategory" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md  learning-item-icon-bg"><i class="icon-equalizer2 icon-2x"></i></a>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-6">
						<h6 class="media-heading text-semibold learning-item-title">
							<a href="?page=trainingsubcategory" class="text-default">Back office Trainings</a>
						</h6>
			    		<span class="display-block">
			            	Nesciunt perspiciatis laboriosam explicabo obcaecati voluptas. Interested especially do impression...
			            </span>
					</div>
					<div class="col-md-6 hidden-xs">
						<div class="row">
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Bank Reconciliation
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Electronic Bank transfer
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Lorem ipsum dolor sit amet
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Consectetur adipisicing elit
		</a>
	</div>
</div>					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="media list-item mb-20">
			<div class="media-left">
				<a href="?page=trainingsubcategory" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md  learning-item-icon-bg"><i class="icon-cog3 icon-2x"></i></a>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-6">
						<h6 class="media-heading text-semibold learning-item-title">
							<a href="?page=trainingsubcategory" class="text-default">System Administration Trainings</a>
						</h6>
			    		<span class="display-block">
			            	Nesciunt perspiciatis laboriosam explicabo obcaecati voluptas. Interested especially do impression...
			            </span>
					</div>
					<div class="col-md-6 hidden-xs">
						<div class="row">
						<div class="col-sm-6">
							<a href="?page=trainingdetails" class="list-group-item learning-item-link">
								<i class="icon-arrow-right13"></i> Bank Reconciliation
							</a>
						</div>
						<div class="col-sm-6">
							<a href="?page=trainingdetails" class="list-group-item learning-item-link">
								<i class="icon-arrow-right13"></i> Electronic Bank transfer
							</a>
						</div>
						<div class="col-sm-6">
							<a href="?page=trainingdetails" class="list-group-item learning-item-link">
								<i class="icon-arrow-right13"></i> Lorem ipsum dolor sit amet
							</a>
						</div>
						<div class="col-sm-6">
							<a href="?page=trainingdetails" class="list-group-item learning-item-link">
								<i class="icon-arrow-right13"></i> Consectetur adipisicing elit
							</a>
						</div>
</div>					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="media list-item mb-20">
			<div class="media-left">
				<a href="?page=trainingsubcategory" class="btn bg-teal border-teal btn-flat btn-icon btn-rounded btn-md  learning-item-icon-bg"><i class=" icon-traffic-lights icon-2x"></i></a>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-6">
						<h6 class="media-heading text-semibold learning-item-title">
							<a href="?page=trainingsubcategory" class="text-default">Head office Trainings</a>
						</h6>
			    		<span class="display-block">
			            	Nesciunt perspiciatis laboriosam explicabo obcaecati voluptas. Interested especially do impression...
			            </span>
					</div>
					<div class="col-md-6 hidden-xs">
						<div class="row">
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Bank Reconciliation
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Electronic Bank transfer
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Lorem ipsum dolor sit amet
		</a>
	</div>
	<div class="col-sm-6">
		<a href="?page=trainingdetails" class="list-group-item learning-item-link">
			<i class="icon-arrow-right13"></i> Consectetur adipisicing elit
		</a>
	</div>
</div>					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>

<div class="RightNavigation">

<Include SRC="{{NEMODULES_PATH}}partials/network/default_header_property_template.html"/>

	<Grid gridId="Grid_AuthorNav_{{objNem}}">
	<Header>
	<ul class="right-navbar navbar-nav ml-auto">
	</Header>
		<Var name="has_child">('{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child' ? 'dropdown' : '')</Var>
		<Var name="active_class">('{{id1}}' == '{{level_1}}' ? 'active' : '')</Var>
		<li role="nav-item" class="nav-item {{has_child}} hover">

			<Grid gridId="Grid_AuthorNav_Nivel2{{keyIden}}">
				<Header>
					<If condition="'{{id1}}' == '{{level_1}}'">
					<ul id="r-level-2-{{id1}}" class="level-2 colapse collapse show">
					</If>
					<If condition="'{{id1}}' != '{{level_1}}'">
					<ul id="r-level-2-{{id1}}" class="level-2 colapse collapse">
					</If>
				</Header>
						<li class="nav-item-l2 {{has_child}} hover">
							<If condition="'{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child'">
									<If condition="'{{id2}}' == '{{level_1}}'">
									<span class="fa has-child" data-toggle="collapse" data-parent=".dropdown" data-target="#r-level-3-{{id1}}" aria-expanded="false">
									</If>
									<If condition="'{{id2}}' != '{{level_1}}'">
									<span class="fa has-child collapsed" data-toggle="collapse" data-parent=".dropdown" data-target="#r-level-3-{{id1}}" aria-expanded="false">
									</If>
									</span>
							</If>
							<a class="{{class_style}} {{active_class}}" href="{{link}}">{{label}}</a>
								<Grid gridId="Grid_AuthorNav_Nivel3{{keyIden}}">
									<Header>
									<If condition="'{{id3}}' == '{{level_1}}'">
									<ul id="r-level-3-{{id1}}" class="level-3 colapse collapse show">
									</If>
									<If condition="'{{id3}}' != '{{level_1}}'">
									<ul id="r-level-3-{{id1}}" class="level-3 colapse collapse">
									</If>
									</Header>
											<li class="nav-item-l3 {{has_child}} hover">
												<If condition="'{{nr_child}}' != '0' && '{{nr_child}}' != 'nr_child'">
														<If condition="'{{id3}}' == '{{level_1}}'">
														<span class="fa has-child" data-toggle="collapse" data-parent=".dropdown" data-target="#r-level-4-{{id3}}" aria-expanded="false">
														</If>
														<If condition="'{{id3}}' != '{{level_1}}'">
														<span class="fa has-child collapsed" data-toggle="collapse" data-parent=".dropdown" data-target="#r-level-4-{{id3}}" aria-expanded="false">
														</If>
														</span>
												</If>
												<a class="{{class_style}} {{active_class}}" href="{{link}}">{{label}}</a>



												<Grid gridId="Grid_AuthorNav_Nivel4{{keyIden}}">
													<Header>
														<If condition="'{{id4}}' == '{{level_1}}'">
														<ul id="r-level-4-{{id3}}" class="level-4 colapse collapse show">
														</If>
														<If condition="'{{id4}}' != '{{level_1}}'">
														<ul id="r-level-4-{{id3}}" class="level-4 colapse collapse">
														</If>
													</Header>
															<li class="nav-item-l4">
																<a class="{{class_style}}" href="{{link}}">{{label}}</a>
															</li>
													<Footer>
														</ul>
													</Footer>
												</Grid>
											</li>
									<Footer>
										</ul>
									</Footer>
								</Grid>
						</li>
				<Footer>
					</ul>
				</Footer>
			</Grid>
		</li>
	<Footer>
	</ul>
	</Footer>
	</Grid>
</div>

